a {
    color: #d2691e;
}
.section-title {
    color: #3f8dbf;
}
.section-title span:before {
    color: #3f8dbf;
}
.post-title a:hover {
    color: #3f8dbf
}
.colored {
    color: #3f8dbf
}
blockquote small {
    color: #3f8dbf;
}
.black-wrapper a:hover {
    color: #3f8dbf
}
.color-wrapper {
    background: #3f8dbf
}
.meta a:hover,
.more:hover {
    color: #3f8dbf
}
.nav > li > a:hover,
.nav > li > a:focus {
    color: #d2691e;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a.active {
    color: #3f8dbf;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:focus {
    color: #3f8dbf;
}
.navbar-header .info a:hover {
    color: #d2691e;
}
.navbar.basic .nav > li > a:hover,
.navbar.basic .nav > li > a:focus,
.navbar.basic .nav .open > a,
.navbar.basic .nav .open > a:hover,
.navbar.basic .nav .open > a:focus {
    color: #3f8dbf;
}
.yamm .yamm-content a:hover {
    color: #3f8dbf
}
.btn {
    background: #3f8dbf;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #387eaa;
}
.social a:hover .icon-search {
    color: #3f8dbf;
    border-color: #3f8dbf;
}
.tp-caption .dotted {
    border-bottom: 1px dotted #3f8dbf
}
.services .tab:hover .icon i.icn,
.services .tab.active .icon i.icn {
    color: #3f8dbf;
    border: 1px solid #3f8dbf;
}
.services .tab:hover h4,
.services .tab.active h4 {
    color: #3f8dbf
}
.icon i.icn {
    border: 1px solid #3f8dbf;
    color: #3f8dbf;
}
.step:hover i.icn {
    background-color: #3f8dbf;
}
.tabs-side .tab a:hover,
.tabs-side .tab.active a {
    color: #3f8dbf
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #3f8dbf
}
#testimonials .author {
    color: #3f8dbf;
}
#testimonials .tab a.active,
#testimonials .tab a:hover {
    border: 1px solid #3f8dbf;
}
.panel-title > a:hover {
    color: #3f8dbf
}
.filter li a:hover,
.filter li a.active {
    color: #3f8dbf
}
.filter li a:hover:before,
.filter li a.active:before {
    color: #3f8dbf
}
.item-details li a:hover {
    color: #3f8dbf
}
.share a:hover {
    color: #3f8dbf
}
.process li.process-item .number {
    color: #3f8dbf;
}
ul.circled li:before {
    color: #3f8dbf;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    border: 1px solid #3f8dbf;
    color: #3f8dbf;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 1px solid #3f8dbf
}
.pricing .plan h4 span {
    color: #3f8dbf
}
.progress-list li em {
    color: #3f8dbf;
}
.progress.plain .bar {
    background: #3f8dbf;
}
.recent-list .post .date {
    border: 1px solid #3f8dbf;
    color: #3f8dbf;
}
.recent-list .format-wrapper {
    background-color: #3f8dbf;
}
.format-filter li a:hover,
.format-filter li a.active {
    color: #3f8dbf
}
.classic-blog .post .date {
    color: #3f8dbf;
    border: 1px solid #3f8dbf;
}
.classic-blog .post a.date:hover {
    background-color: #3f8dbf;
}
.classic-blog .posts .format-wrapper {
    background-color: #3f8dbf;
}
.sidebox a:hover {
    color: #3f8dbf
}
.border-list li a:hover {
    color: #3f8dbf
}
.border-list li:hover:after {
    color: #3f8dbf
}
.tooltip-inner {
    background-color: #3f8dbf;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #3f8dbf
}
.tooltip.right .tooltip-arrow {
    border-right-color: #3f8dbf
}
.tooltip.left .tooltip-arrow {
    border-left-color: #3f8dbf
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #3f8dbf
}
.pagination ul > li > a,
.pagination ul > li > span {
    background: #3f8dbf;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background: #387eaa;
}
#comments .info h2 a:hover {
    color: #3f8dbf
}
#comments a.reply-link:hover {
    color: #3f8dbf
}
.icon-overlay a .icn-more,
.items li a .text-overlay {
    background-color: rgba(63,141,191, 0.92);
}
@media (max-width: 767px) {
    .services .tab:hover .icon i.icn,
    .services .tab.active .icon i.icn {
        color: #3f8dbf !important;
        border: none;
    }
    .services .tab:hover h4,
    .services .tab.active h4 {
        color: #3f8dbf
    }
    .tabs-side .tab a:hover,
    .tabs-side .tab.active a {
        color: #3f8dbf
    }
}
