/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #FFF;
    color: #888;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    width: auto;
}

body,
li,
address {
    line-height: 25px
}

.btn {
    color: #fff !important;
    font-family: 'Roboto Condensed', sans-serif;
    background: #fa6c65;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 11px 20px 13px 20px;
    font-weight: 700;
    font-size: 14px;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #e2625b;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}

input,
button,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
a {
    color: #fa6c65;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}


a:hover,
a:focus {
    color: #2e2e2e;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    color: #616161;
    margin-bottom: 10px;
    font-weight: 700;
}
h1 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 15px;
}
h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 15px;
}
h3 {
    font-size: 18px;
    line-height: 22px;
}
h4 {
    font-size: 16px;
    margin-bottom: 8px;
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
.slab {
    font-family: 'Roboto Slab', serif;
    text-transform: none;
}
.section-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fa6c65;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.row .section-title {
    margin-bottom: 20px
}
.widget .section-title {
    margin-bottom: 15px;
    letter-spacing: normal;
}
.section-title span {
    font-weight: 300;
    font-size: 18px;
    text-transform: lowercase;
    color: #848484;
    letter-spacing: normal;
}
.section-title span:before {
    display: inline-block;
    font-weight: 700;
    content: "|";
    padding: 0 10px 0 5px;
    color: #fa6c65;
}
.post-title {
    margin: 0 0 10px 0
}
h1.post-title {
    font-size: 22px;
    line-height: 24px;
}
.bordered .post-title {
    margin-bottom: 5px
}
.post-title a {
    color: #616161
}
.post-title a:hover {
    color: #fa6c65
}
.colored {
    color: #fa6c65
}
.media-wrapper {
    margin-bottom: 20px
}
.light-wrapper {
    background: #FFF;
    border-bottom: 1px solid #e5e5e5;
}
.dark-wrapper {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.inner {
    padding-top: 50px;
    padding-bottom: 50px;

}
.lead {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #7f7f7f;
}
.lead-t {
    font-size: 14px;
    line-height: auto;
    width: 1200px;
    font-family: 'Roboto Slab', sans-serif;
    color: #7f7f7f;
}
blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 2px solid #e7e7e7;
}
blockquote p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
}
blockquote small {
    line-height: 33px;
    color: #fa6c65;
}
hr {
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    margin: 60px 0;
}
.map iframe {
    display: block;
    max-width: 100%;
}
figure {
    margin: 0;
    padding: 0;
}
iframe {
    border: none
}
.media-wrapper {
    margin: 20px 0
}
.black-wrapper {
    background: #303538;
    color: #cacaca;
}
.black-wrapper .lead {
    color: #cacaca
}
.black-wrapper a {
    color: #cacaca
}
.black-wrapper a:hover {
    color: #fa6c65
}
.black-wrapper h1,
.black-wrapper h2,
.black-wrapper h3,
.black-wrapper h4,
.black-wrapper h5,
.black-wrapper h6 {
    color: #FFF
}
.black-wrapper .section-title,
.black-wrapper .section-title span,
.black-wrapper .section-title span:before {
    color: #FFF
}
.black-wrapper .widget h1,
.black-wrapper .widget h2,
.black-wrapper .widget h3,
.black-wrapper .widget h4,
.black-wrapper .widget h5,
.black-wrapper .widget h6 {
    color: #cacaca
}
i.contact {
    color: #6c6c6c;
    margin-right: 5px;
    width: auto;
    height: auto;
    line-height: 18px;
}
.widget .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget .post-list li {
    margin-bottom: 19px
}
.widget .post-list li h6 {
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.widget .post-list li em {
    color: #6c6c6c;
    font-size: 12px;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
}
.tagcloud {
    line-height: 25px
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    padding-left: 10px;
}
.footer-menu li:before {
    display: inline-block;
    content: "|";
    padding-right: 12px;
}
.footer-menu li:first-child:before {
    display: none
}
.sub-footer {
    background: #2d3134;
    padding: 10px 0;
}
.sub-footer p {
    padding: 0;
    margin-left: 35%;
}
.color-wrapper {
    background: #fa6c65
}
.color-wrapper,
.color-wrapper p {
    color: #FFF
}
.color-wrapper h1,
.color-wrapper h2,
.color-wrapper h3,
.color-wrapper h4,
.color-wrapper h5,
.color-wrapper h6 {
    color: #FFF
}
.thin {
    width: 70%;
    margin: 0 auto;
}
.member h3 {
    margin: 0 0 10px 0
}
.member h3 span {
    text-transform: none
}
.member h3 span:before {
    content: "-";
    padding: 0 5px 0 2px;
}
.meta,
.more {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    color: #9f9f9f;
    font-weight: 400;
    margin-bottom: auto;
}
.meta span:before {
    display: inline-block;
    content: "|";
    padding: 0 10px 0 10px;
}
.meta span:first-child:before {
    display: none;
    padding: 0;
}
.meta .like i {
    padding: 0 4px 0 0
}
.meta a {
    color: #9f9f9f;
    display: inline !important;
}
.meta a:hover,
.more:hover {
    color: #fa6c65
}
.meta.tags a:before {
    content: "#";
    display: inline-block;
}
.bordered .info {
    text-align: center
}
.bordered {
    border: 1px solid #e3e3e3;
    padding: auto;
    padding-bottom: auto;
    background: #FFF;
}
.no-top-border {
    border-top: none
}
.dropcap {
    font-weight: 900;
    display: block;
    float: left;
    font-size: 48px;
    padding: 0;
    margin: 0;
    margin: 12px 8px 0 0;
    text-transform: uppercase;
}

.inner {
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    margin: 60px 0;
}

/*-----------------------------------------------------------------------------------*/
/*	REVOLUTION SLIDER
/*-----------------------------------------------------------------------------------*/
.fullwidthbanner-container {
    width: 100% !important;
    position: relative;
    max-height: 600px !important;
    overflow: hidden !important;
}
.revolution ul {
    visibility: hidden;
    margin: 0;
    list-style: none;
}
.tp-caption.bold {
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
    color: #FFF;
}
.tp-caption.lite {
    font-size: 22px;
    line-height: 1;
    color: #F5F5F5;
    font-weight: 400;
}
.tp-caption.white-bg {
    background: #FFF;
    color: #5c5c5c !important;
    padding: 10px 15px 11px 15px;
}
.tp-caption.opacity-bg {
    background: rgba(0,0,0,0.3);
    color: #FFF;
    padding: 10px 15px;
}
.tp-caption a.btn {
    color: #fff
}
.tp-caption .dotted {
    border-bottom: 1px dotted #fa6c65
}
.tp-leftarrow.default,
.tp-rightarrow.default {
    z-index: 100;
    cursor: pointer;
    position: relative;
    top: 50% !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    line-height: 1;
    font-size: 20px;
    padding: 12px 19px;
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.tparrows:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}
.tp-leftarrow.default:before {
    content: '\E807'
}
.tp-rightarrow.default:before {
    content: '\E806'
}
.tparrows:hover {
    background: rgba(0,0,0,0.5)
}
.tp-bullets.simplebullets.round .bullet {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover {
    background: rgba(0,0,0,0.5)
}
.tp-bullets.hidebullets {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.tp-loader {
    background: url(style/images/loading.gif) no-repeat;
    background-color: #fff;
    margin: -15px -15px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .tp-loader {
        background-image: url(style/images/loading%402x.gif)
    }
}
.tp-bannertimer {
    width: 100%;
    height: 10px;
    background: url(../images/timer.png);
    position: absolute;
    z-index: 200;
}

.section-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #3f8dbf;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.section-title span {
    font-weight: 300;
    font-size: 18px;
    text-transform: lowercase;
    color: #848484;
    letter-spacing: normal;
}

.section-title span::before {
    display: inline-block;
    font-weight: 700;
    content: "|";
    padding: 0 10px 0 5px;
    color: #3f8dbf;
}

/*-----------------------------------------------------------------------------------*/
/*	OWL CAROUSEL
/*-----------------------------------------------------------------------------------*/
.owl-theme .owl-controls {
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.owl-theme .owl-controls .owl-buttons {
    margin-top: 10px
}
.owl-theme .owl-controls .owl-buttons div {
    color: #aaa;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 29px;
    height: 29px;
    margin: 0 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: none;
    border: 1px solid #aaa;
    font-size: 19px;
}
/* Firefox Fix */
@-moz-document url-prefix() {
    .owl-theme .owl-controls .owl-buttons div {
        line-height: 28px
    }
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    border: 1px solid #fa6c65;
    color: #fa6c65;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 11px;
    height: 11px;
    margin: 0 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: none;
    border: 1px solid #aaa;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 1px solid #fa6c65
}
.carousel-th .item {
    margin: 0 10px 1px 10px
}
#owl-clients .item img {
    max-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
#owl-clients .item:hover img {
    max-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.owl-portfolio-slider {
    padding-bottom: 15px
}
.owl-slider-wrapper {
    position: relative
}
.owl-slider-wrapper .item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl-slider-wrapper .owl-custom-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -23px;
    pointer-events: auto;
}
.owl-slider-wrapper .owl-custom-nav .slider-next {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -23px;
    pointer-events: auto;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev,
.owl-slider-wrapper .owl-custom-nav .slider-next {
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    line-height: 1;
    font-size: 20px;
    padding: 12px 19px;
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:before,
.owl-slider-wrapper .owl-custom-nav .slider-next:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:before {
    content: '\e75d'
}
.owl-slider-wrapper .owl-custom-nav .slider-next:before {
    content: '\e75e'
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:hover,
.owl-slider-wrapper .owl-custom-nav .slider-next:hover {
    background: rgba(0,0,0,0.5)
}
.owl-slider-wrapper .owl-controls {
    margin: -40px 0 0 0
}
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page span {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    border: none;
}
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page.active span,
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page:hover span {
    background: rgba(0,0,0,0.5);
    border: none;
}
.owl-slider-wrapper .owl-custom-nav,
.owl-slider-wrapper .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.owl-slider-wrapper:hover .owl-custom-nav,
.owl-slider-wrapper:hover .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#owl-gallery .item {
    margin: 0 10px
}
#owl-gallery .item img {
    display: block;
    width: 100%;
    height: auto;
}
#owl-gallery .owl-controls {
    margin: 10px 0 0 0
}
#owl-gallery .owl-pagination {
    height: 12px
}
/* preloading images */
.owl-item.loading {
    min-height: inherit;
    background: none;
}

/*-----------------------------------------------------------------------------------*/
/*	PROCESS
/*-----------------------------------------------------------------------------------*/
.process {
    padding: 0;
    margin: 0;
    list-style: none;
}
.process li.process-item {
    padding: 50px
}
.process li.process-item.border-top {
    border-top: 1px solid #e3e3e3
}
.process li.process-item.border-bottom {
    border-bottom: 1px solid #e3e3e3
}
.process li.process-item.border-right {
    border-right: 1px solid #e3e3e3
}
.process li.process-item.border-left {
    border-left: 1px solid #e3e3e3
}
.process li.process-item .number {
    font-size: 60px;
    color: #fa6c65;
    font-weight: 300;
    margin: 10px 25px 0 0;
    float: left;
    display: block;
}
.process li.process-item .info {
    overflow: hidden
}
ul {
    padding: 0 0 0 18px
}
ol {
    padding: 0 0 0 20px
}
ul.circled {
    padding: 0;
    list-style: none;
}
ul.circled li:before {
    content: '\e800';
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 1px;
    display: inline-block;
    font-family: 'fontello-circle';
    color: #fa6c65;
    font-size: 8px;
}


.head-image {
    max-width: 100%;
    position: relative;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;

}


.page-title {
    text-transform: none;
    font-weight: 300;
    margin: 0;
}

.head-image.option-3 .page-title {
    color: #515151;
    font-size: 22px;
    display: inline-block;
    line-height: 1;
}

.head-image .overlay.light {
    background: rgba(255,255,255,0.6);
    padding: 50px 0;
}

.parallax .section-title, .parallax .section-title span, .parallax .section-title span::before, .parallax p {
    color: #FFF;
}

.parallax {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF !important;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

#first {
    background-image: url(../images/parallax1.jpg);
}


.parallax .inner {
    width: 50%;
    margin: 0 auto;
}

.services, .services .etabs {
    text-align: center;
}