html, body
    margin: 0
    height: 100%

.header-top
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 0

.header-top__logo
    width: 400px

.header-top__logo-img
    max-width: 100%

.header-info
    display: flex
    align-items: center
    list-style: none
    font-size: 24px
    color: #888
    opacity: 0.7
    padding: 0
    margin: 0

.header-top__info
    margin-top: 20px

.header-info__item
    padding-left: 10px

.header-info__link
    color: #888
    transition: all 0.5s ease 0s
    &:hover
        text-decoration: none
        color: #d2691e

.header__line
    background-color: #f9f9f9
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.header-bottom
    display: flex
    justify-content: space-between
    align-items: center

.main-navigation
    display: flex
    padding: 0
    margin: 0
    list-style: none
    flex-basis: 100%

.main-navigation__item
    border-right: 1px solid rgba(0, 0, 0, 0.1)
    flex-grow: 1
    &:first-child
        border-left: 1px solid rgba(0, 0, 0, 0.1)

.main-navigation__link
    justify-content: center
    text-align: center
    font-size: 14px
    text-transform: uppercase
    color: #666666
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 700
    position: relative
    display: flex
    align-items: center
    height: 50px
    padding: 0 5px
    transition: all 0.5s ease 0s
    &:hover
        text-decoration: none
        color: #d2691e

.soc
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
    list-style: none


.soc__item
    margin-right: 5px
    &:last-child
        margin-right: 0

.soc__link i
    text-align: center
    display: block
    line-height: 24px
    color: #aaa
    background: none
    border: 1px solid #aaa
    width: 26px
    height: 26px !important
    font-size: 12px
    -webkit-border-radius: 50%
    border-radius: 50%
    -webkit-transition: all 200ms ease-in
    -o-transition: all 200ms ease-in
    -moz-transition: all 200ms ease-in
    transition: all 0.5s ease 0s
    &:hover
        text-decoration: none
        color: #d2691e
        border-color: #d2691e

.header-bottom__soc
    padding-left: 10px

