{% extends "layouts/app.twig" %}

{% block pageTitle %}О нас{% endblock %}


{% block content %}

<div class="head-image option-3" style="background-image: url(images/ptbg1.jpg);">
    <div class="overlay light">
        <div class="container">
            <h1 class="page-title">О компании</h1>
        </div>
    </div>
</div>
<div class="dark-wrapper">
    <div class="container inner">
        <h1 class="section-title text-center">Наши <span>сотрудники</span></h1>
        <div class="row">

            <div class="col-sm-4">
                <!--<figure><img src="images/unknow.jpg" alt="" /></figure>-->
                <div class="bordered no-top-border text-center member" style="border: 0px ;">
                    <h3>Шевкунов Владимир </h3><span class="meta">Директор </span><br />
                    <span class="meta">Телефон: +7 (727) 356-76-56 вн.204 </span><br />
                    <span class="meta">Email:<span class="meta"><a href="mailto:vl@sms-consult.kz" > vl@sms-consult.kz </a> </span></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="bordered no-top-border text-center member" style="border: 0px ;">
                    <h3>Нусибали Асель</h3><span class="meta">Менеджер по  работе с клиентами</span><br />
                    <span class="meta">Телефон: +7 (727) 356-76-56 вн.210 </span><br />
                    <span class="meta">Email:<span class="meta"><a href="mailto:assel.nusibali@sms-consult.kz" > assel.nusibali@sms-consult.kz </a> </span><br /></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="bordered no-top-border text-center member" style="border: 0px ;">
                    <h3>Спирикова Наталья </h3><span class="meta">Руководитель отдела по работе с клиентами</span><br />
                    <span class="meta">Телефон: +7 (727) 356-76-56 вн.201 </span><br />
                    <span class="meta">Email:<span class="meta"><a href="mailto:natalya.spirikova@sms-consult.kz" > natalya.spirikova@sms-consult.kz </a> </span></span>
                </div>
            </div>
            <hr class="arrow"/>
            <div class="col-sm-4">
                <!--<figure><img src="images/unknow.jpg" alt="" /></figure>-->
                <div class="bordered no-top-border text-center member" style="border: 0px ;">
                    <h3>Лопатин Евгений </h3><span class="meta">Технический специалист</span><br />
                    <span class="meta">Телефон: +7 (727) 356-76-56 вн.201 </span><br />
                    <span class="meta">Email:<span class="meta"><a href="mailto:e.lopatin@sms-consult.kz" > e.lopatin@sms-consult.kz </a> </span></span>
                </div>
            </div>

            <div class="col-sm-4">
                <!--<figure><img src="images/unknow.jpg" alt="" /></figure>-->
                <div class="bordered no-top-border text-center member" style="border: 0px ;">
                    <h3>Алиев Даулет </h3><span class="meta">Техническая поддержка</span><br />
                    <span class="meta">Телефон: +7 (727) 244-76-56  </span><br />
                    <span class="meta">Email:<span class="meta"><a href="mailto:dauka87@sms-consult.kz" > daulet.aliev@sms-consult.kz </a> </span></span>
                </div>
            </div>

            <div class="col-sm-4">
                <!--<figure><img src="images/unknow.jpg" alt="" /></figure>-->
                <div class="bordered no-top-border text-center member" style="border: 0px ;">
                    <h3>Бытыбаев Руслан </h3><span class="meta">Технический специалист</span><br />
                    <span class="meta">Телефон: +7 (727) 356-76-56 вн.207 </span><br />
                    <span class="meta">Email:<span class="meta"><a href="mailto:ruslan.bytybayev@sms-consult.kz" > ruslan.bytybayev@sms-consult.kz </a> </span></span>
                </div>
            </div>

        </div>
    </div>

</div>
<div id="first" class="parallax">
    <div class="inner">
        <h3 class="text-center section-title">О Нас <span>Биография компании</span></h3>
        <p class="lead">Компания «SMS-Consult» (СМС-Консалт) работает на рынке SMS-рассылок с 2009 года, является одним из ключевых партнеров операторов мобильной связи РК, удостоена почетного звания «Лидер отрасли 2014»,
            сотрудники компании имеют высокую квалификацию и большой опыт работы.  Наши клиенты служат подтверждением качества нашей работы:
            АТФ Банк, ДКП Казахтелеком, А-Моторс AUTO, Subaru, Huyndai, Nissan, Mitsubishi, Oriflame, AVON, Faberlic, лаборатория INVIVO и другие большие и маленькие компании по всему Казахстану.</p>
    </div>
</div>

<div class="container inner">
    <h3 class="text-center section-title">Сертификаты</h3>
    <img src="images/2.png" style="width: auto; height: auto;" />
    <img src="images/1.png"  style="width: auto; height: auto;" />
</div>
<div class="container inner">
    <h3 class="text-center section-title">Презентация</h3>
    <iframe
            src="http://docs.google.com/gview?url=http://sms-consult.kz/docs/SMS-Consult.pdf&embedded=true"
            style="width:100%; height:800px;padding: 0px;margin: 0px;"
            frameborder="0"
    ></iframe>
</div>


{% endblock %}