{% extends "layouts/app.twig" %}

{% block pageTitle %} Банки {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Банкам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                Любой банк, ориентированный в первую очередь на работу с физлицами, стремится у вкладчиков вызвать максимум доверия к себе, и добиться формирования позитивного общественного мнения.
                Существует множество способов заявить о себе. Самыми распространенными из них являются – реклама в СМИ, Биг-борды, распространение рекламных листовок.
                Однако, такой подход не позволит раскрутить отдельный банк и выделить его на фоне множества конкурентов.
                Мы предлагаем совершенно иной подход, позволяющий раскрутить отдельный банк и сделать так, что потребитель запомнит такие термины, как "кредит", "депозит", "кредитная карточка", "оплата коммунальных платежей", "копилка", "ценные бумаги", "курс валют" и т.п.
                Наша компания готова предложить банкам широкий спектр услуг, связанных с СМС-рекламой.
                Благодаря такой системе могут быть привлечены новые клиенты банка, а существующие могут быть проинформированы о новых услугах.
            </p><br /><br />
            <p>
                Благодаря множеству опций, которые предлагает компания SMS-Consult в сфере СМС-рассылок, становится возможным не только доносить до клиентов банка информацию о новых акциях и предложениях, но и предоставлять клиентам информацию о движении их денежных средств.
                Это особенно важно в тех случаях, когда у клиента имеется несколько счетов и зарплатная карта. В этом случае клиент будет в режиме реального времени получать информацию о всех переводах между счетами, начислениях и снятиях суммы налога за обслуживание счетов.
                Если банком таких услуг не предусмотрено, то клиенты начинают звонить в банк, в целях проверки статуса своих операций, что практически парализует колл-центр.
                Те, кто не дозвонился, приходят в филиал, загружая сотрудников лишней работой и создавая очереди.
            </p><br /><br />
            <p>
                В связи с этим можно сделать вывод, что СМС-рассылки являются не только отличной рекламой, но и хорошим способом работы с клиентами.
            </p>
            <table style="background: none;border: 0px;width: auto;height: auto;">
                <th style="background: none;border: 0px;text-align:  center;">Преимущества SMS-рассылки:</th><th style="width:30%;background: none;border: 0px;text-align:  center;">Дополнительные возможности:</th>
                <tr style="background: none;border: 0px;text-align:  left;">
                    <td style="width:30%;background: none;border: 0px;">Предоставление клиенту информации о его счете;</td><td style="width:30%;background: none;border: 0px;">Распространение подробной информации о появлении новых услуг банка;</td>
                </tr>
                <tr style="background: none;border: 0px;text-align:  left;">
                    <td style="width:30%;background: none;border: 0px;">Предоставление клиенту информации о выплатах;</td><td style="width:30%;background: none;border: 0px;">Уведомление о факте несанкционированной операции;</td>
                </tr>
                <tr style="background: none;border: 0px;text-align:  left;">
                    <td style="width:30%;background: none;border: 0px;">Предоставление клиенту информации о кредитах;</td><td style="width:30%;background: none;border: 0px;">Полный контроль за теми расходами, которые идут через дополнительные карты;</td>
                </tr>
                <tr style="background: none;border: 0px;text-align:  left;">
                    <td style="width:30%;background: none;border: 0px;">Применение современных технологий дает возможность создания обратной связи для мобильных номеров (в формате +7 701 ХХ-ХХХ-ХХХХ) либо с помощью услуги "<a href="#" >Короткий номер</a>".</td><td style="width:30%;background: none;border: 0px;">SMS-сообщения с доступным балансом по карточному счету;</td>
                </tr>
                <tr style="background: none;border: 0px;text-align:  left;">
                    <td style="background: none;border: 0px;">&nbsp;</td><td style="width:30%;background: none;border: 0px;">Постоянный контроль за перемещениями денежных средств на карточном счету.</td>
                </tr>
            </table>
            <div style="padding-top: 5%;"></div>
            <h3>Информация о счете:</h3>
            <p>Клиент может посредством мобильного банкинга получать на свой мобильный телефон сообщения с подробной информацией о любых движениях средств, находящихся на счете. Данную услугу могут подключить и юридические лица. В этом случае в сообщениях будут указаны движения средств на расчетном счету.</p>
            <div style="padding-top: 5%;"></div>
            <h3>Информация о выплатах/платежах:</h3>
            <p>Клиент может быть уведомлен по СМС о том, что уплаченная сумма поступила на счет банка.</p>
            <div style="padding-top: 5%;"></div>
            <h3>Информация о кредитах:</h3>
            <p>Клиент может получать автоматически созданные сообщения-напоминания о кредите. В данном сообщении будет указана минимальная сумма, которую необходимо уплатить по кредиту.</p>
            <div style="padding-top: 5%;"></div>
            <h3>SMS-канал обратной связи:</h3>
            <p>Клиент может отправить банку СМС-сообщение с жалобой. Такие сообщение автоматически сортируются системой в соответствии с их содержанием и затем направляются отделу по работе с клиентами.</p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>


{% endblock %}