{% extends "layouts/app.twig" %}

{% set header_name = 'call_header' %}

{% block pageTitle %} Бриф {% endblock %}


{% block content %}
    <div class="head-image option-3" style="background-image: url(/images/art/ptbg7.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Предварительная заявка</h1>
            </div>
        </div>
    </div>
    <div class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="post-title">Заполнить заявку</h1>
                    <p>Либо написать нам,<a href="/call-center/contact/"> своими словами</a></p>
                    <div class="divide20"></div>
                    <div class="form-container">
                        <form class="forms" id="formcc" action="" method="post">
                            <b><h4>Наименование Вашей организации:</h4></b>
                            <input type="text" name="org" style="width:900px;" title="Наименование Вашей организации:">
                            <br />
                            <b><h4>Ваш вид деятельности:</h4></b>
                            <input type="text" name="work" style="width:900px;" title="Ваш вид деятельности:">
                            <br /><br />
                            <b><h4>Цель проекта:</h4></b>
                            <input type="checkbox" name="a1"  value="Рассылка_комерческих_предложений">Рассылка комерческих предложений<br />
                            <input type="checkbox" name="a2"  value="Назначение_звонка_специалиста_вашей_компании">Назначение звонка специалиста вашей компании<br />
                            <input type="checkbox" name="a3"  value="Актуализация_базы_данных">Актуализация базы данных<br />
                            <input type="checkbox" name="fis"  value="Анкетирование_физ._лиц">Анкетирование физ. лиц
                            <input type="checkbox" name="ur"  value="Анкетирование_юр._лиц">Анкетирование юр. лиц<br />
                            <br /><br />

                            <b><h4>Географический охват:</h4></b>
                            <b>Отдельные города Казахстана</b><br /><input type="text" name="e1"  style="width:900px;" title="Перечислите:"> <br />
                            <input type="checkbox" name="e2"  value="весь_Казахстан">весь Казахстан<br />
                            <b>Отдельные города России</b><br /><input type="text" name="e3"  style="width:900px;" title="Перечислите:"> <br />
                            <input type="checkbox" name="e4"  value="вся_Россия">вся Россия<br />
                            <b>Другое </b><br /> <textarea name="dr1" style="width: 900px;"></textarea>
                            <br /><br />

                            <b><h4>Какая услуга более актуальна для Вашей компании:</h4></b>

                            <b>Исходящие:</b><br />
                            <input type="checkbox" name="q1"  value="услуга_(Поиск новых клиентов)">услуга "Поиск новых клиентов"<br />
                            <input type="checkbox" name="q2"  value="услуга_(Актуализация базы данных)">услуга "Актуализация базы данных"<br />
                            <input type="checkbox" name="q3"  value="услуга_(Телефонное информирование)">услуга "Телефонное информирование"<br />
                            <input type="checkbox" name="q4"  value="услуга_(Контроль качества)">услуга "Контроль качества"<br />
                            <input type="checkbox" name="q5"  value="услуга_(Маркетинговые исследования)">услуга "Маркетинговые исследования"<br />
                            <b>Входящие:</b><br />
                            <input type="checkbox" name="w1"  value="услуга_(Горячая линия)">услуга "Горячая линия"<br />
                            <input type="checkbox" name="w2"  value="услуга_(Виртуальный офис» или  «Виртуальный секретарь)">услуга «Виртуальный офис» или  «Виртуальный секретарь»<br />
                            <input type="checkbox" name="w3"  value="услуга_(Резервный Call center)">услуга «Резервный Call center»<br />
                            <input type="checkbox" name="w4"  value="услуга_(Продажа продукта заказчика с входящего звонка)"> услуга «Продажа продукта заказчика с входящего звонка»<br />
                            <b>Дополнительные услуги:</b><br />
                            <input type="checkbox" name="qw1"  value="услуга_(Аренда рабочих мест для операторов)">услуга «Аренда рабочих мест для операторов»<br />
                            <input type="checkbox" name="qw2"  value="услуга_(IVR автоматическая обработка вызова)">услуга «IVR автоматическая обработка вызова»<br />
                            <input type="checkbox" name="qw3"  value="услуга_(Аренда операторов)">услуга «Аренда операторов»<br />
                            <input type="checkbox" name="qw4"  value="услуга_(Диспетчерская служба)">услуга «Диспетчерская служба»<br />
                            <br /><br />
                            <b><h4>Дата начала проекта и период проведения:</h4></b>
                            <input type="text" name="dt-beg" style="width:900px;" title="Дата начала проекта и период проведения:">
                            <br />

                            <b><h4>Ответственное лицо по проекту с вашей стороны:</h4></b>

                            <b>Ф.И.О:</b><br />
                            <input type="text" name="fio-otv" style="width:900px;" title="Ф.И.О:"><br />
                            <b>Должность:</b><br />
                            <input type="text" name="dolzh" style="width:900px;" title="Должность:"><br />
                            <b>Контактный телефон:</b><br />
                            <input type="text" name="knt-tel" style="width:900px;" title="Tелефон:"><br />
                            <b>E-mail:</b><br />
                            <input type="email" name="email" style="width:900px;" title="E-mail:"><br />
                            <br /><br />
                            <b><h4>Укажите удобное для вас время общения:</h4></b>

                            Будни c
                            <select size="1" name="h">
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10" >10</option>
                                <option value="11" >11</option>
                                <option value="12" >12</option>
                                <option value="13" >13</option>
                                <option value="14" >14</option>
                                <option value="15" >15</option>
                                <option value="16" >16</option>
                                <option value="17" >17</option>
                                <option value="18" >18</option>
                                <option value="19" >19</option>
                                <option value="20" >20</option>
                                <option value="21" >21</option>
                                <option value="22" >22</option>
                                <option value="23" >23</option>
                            </select><b>:</b>
                            <select size="1" name="m">
                                <option value="00" >00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                            </select>
                            &nbsp;&nbsp;до&nbsp;&nbsp;
                            <select size="1" name="h1">
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10" >10</option>
                                <option value="11" >11</option>
                                <option value="12" >12</option>
                                <option value="13" >13</option>
                                <option value="14" >14</option>
                                <option value="15" >15</option>
                                <option value="16" >16</option>
                                <option value="17" >17</option>
                                <option value="18" >18</option>
                                <option value="19" >19</option>
                                <option value="20" >20</option>
                                <option value="21" >21</option>
                                <option value="22" >22</option>
                                <option value="23" >23</option>
                            </select><b>:</b>
                            <select size="1" name="m1"></b>
                                <option value="00" >00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                            </select>
                            <br /><input type="checkbox" name="hol"  value="Выходные"> Выходные дни<br />
                            <b>Другое</b><br /><textarea name="dr2" style="width: 900px;"></textarea>
                            <br /><br />

                            <h4>Продвижением каких услуг/товаров будут заниматься специалисты нашего Call centra:</h4>
                            <textarea name="text1" style="width: 900px;"></textarea><br />
                            <br /><br />

                            <b><h4>Должность лица, которому, необходимо презентовать товары/услуги, оказываемые вашей компанией (если потенциальный клиент ю/л):</h4></b>
                            <textarea name="text2" style="width: 900px;"></textarea><br />
                            <br /><br />

                            <b><h4>Краткое описание продвигаемых товаров/услуг:</h4></b>
                            <textarea name="text3" style="width: 900px;"></textarea><br />
                            <br /><br />

                            <b><h4>Кто предоставляет базу:</h4></b><br />
                            <input type="checkbox" name="r1"  value="Заказчик (база предоставляется вами)">Заказчик (база предоставляется вами).<br />
                            <input type="checkbox" name="r2"  value="Call center"> Call center (при этом в отчете будут предоставлены данные ТОЛЬКО по заинтересованным клиентам).<br />
                            <input type="checkbox" name="r3"  value="Коммерческая (в этом случае вы получите данные не только по заинтересованным Контактам, но и по всем остальным."> Коммерческая (в этом случае вы получите данные не только по заинтересованным Контактам, но и по всем остальным.
                            <br /><br />

                            <b><h4>Какое количество звонков в месяц нужно осуществить по вашему проекту:</h4></b>
                            <textarea name="text4" style="width: 900px;"></textarea><br />
                            <br /><br />

                            <b><h4>Средняя длительность диалога, секунд:</h4></b>
                            <textarea name="text5" style="width: 900px;"></textarea><br />
                            <br /><br />

                            <b><h4>Среднее время ожидания AWT секунд (ожидание ответа):</h4></b>
                            <textarea name="text6" style="width: 900px;"></textarea><br />
                            <br /><br />

                            <b><h4>Какой необходим номер дозвона:</h4></b>
                            <input type="checkbox" name="t1"  value="8 800 070**** (звонки с сотовых и городских номеров по РК бесплатные)"> 8 800 070**** (звонки с сотовых и городских номеров по РК бесплатные)<br />
                            <input type="checkbox" name="t2"  value="Короткий четырехзначный номер (звонки только с номеров сотовых операторов. Звонки для абонентов могут быть бесплатные так и платные) "> Короткий четырехзначный номер (звонки только с номеров сотовых операторов. Звонки для абонентов могут быть бесплатные так и платные) <br />
                            <input type="checkbox" name="t3"  value="Городской многоканальный_номер_(звонки по г. Алматы бесплатные, с сотовых операторов и междугородних номеров соласно тарифного плана абонента)"> Городской многоканальный номер (звонки по г. Алматы бесплатные, с сотовых операторов и междугородних номеров соласно тарифного плана абонента)
                            <br /><br />

                            <b><h4>Ваши конкурентные преимущества (желательно указать конкретные преимущества (например, «доставка бесплатно», а не оценочные критерии, например, «хорошее качество»):</h4></b>
                            <textarea name="text7" style="width: 900px;"></textarea>
                            <br /><br />

                            <b><h4>Часто задаваемые вопросы ваших потенциальных клиентов (какие вопросы в первую очередь задает клиент, после того как заинтересовался) и краткие ответы на них:</h4></b>
                            <textarea name="text8" style="width: 900px;"></textarea>
                            <br /><br />

                            <b><h4>Ожидаемый результат от проекта (количество заинтересованных клиентов, процент выхода и т.п.):</h4></b>
                            <textarea name="text9" style="width: 900px;"></textarea>
                            <br /><br />

                            <b><h4>Дополнительно (что обязательно должен сказать оператор, что ни в коем случае нельзя говорить, иное):</h4></b>
                            <textarea name="text10" style="width: 900px;"></textarea>
                            <br /><br />

                            <b><h4>Сбор и предоставление отчетов</h4></b>
                            <table>
                                <tr>
                                    <th style="width:auto; height: 30px; border: 1px solid #ccc;"><h4 style="" align="center">Наименование отчета</h4></th>
                                    <th style="width:auto; height: 30px; border: 1px solid #ccc;"><h4  align="center">Режим предоставления</h4></th>
                                </tr>
                                <tr><td style="background-image: url('../style/images/art/table.png'); width: 440px; height: auto;"><textarea name="text11" style="width: 425px;"></textarea></td><td style="background-image: url('../style/images/art/table.png'); width: 440px; height: auto;"><textarea name="text12" style="width: 425px;"></textarea></td></tr>
                            </table><br />
                            <input type="checkbox" name="y1"  value="отправлять на e-mail">отправлять на e-mail:<input type="email" name="email2" style="width:350px;" title="Email:">;<br />
                            <input type="checkbox" name="y2"  value="отправлять отчет автоматически">отправлять отчет автоматически ;<br />
                            <input type="checkbox" name="y3"  value="дополнительные требования заказчика">дополнительные требования заказчика:<br /><textarea name="text13" style="width: 900px;"></textarea><br />
                            <div class="g-recaptcha" data-sitekey="6LeQnicTAAAAAOP7zJgRWoYF-k9BWp2qaM5LDPzg"></div>
                            <input type="submit" value="Отправить"  class="btn btn-submit bm0" /><input type="reset" value="Сбросить" name="reset" class="btn btn-submit bm0" />

                            <br />
                        </form>

                    </div>
                    <!-- /.form-container -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}


