{% extends "layouts/app.twig" %}

{% block pageTitle %} Call-Center {% endblock %}


{% block content %}
    {% set header_name = 'call_header' %}
    <div class="head-image option-3" style="background-image: url(/images/art/ptbg7.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Call-Center</h1>
            </div>
        </div>
    </div>
    <div class="light-wrapper">
        <div class="container inner">
            <br />
            <br />

            <div style="margin-left: 4%;">
                <img src="/images/art/russia.jpg" width="300" height="150" data-rel="tooltip" data-placement="bottom" rel="tooltip" data-original-title="Работаем в России" style="box-shadow: 0 3px 5px rgba(0, 0, 0, .6);margin-left: 4%;"/>
                <img src="/images/art/kz.jpg" width="300" height="150" data-rel="tooltip" data-placement="bottom" rel="tooltip" data-original-title="Работаем в Казахстане"  style="box-shadow: 0 3px 5px rgba(0, 0, 0, .6);margin-left: 5%;"/>
                <img src="/images/art/kgz.png"  width="300" height="150" data-rel="tooltip" data-placement="bottom" rel="tooltip" data-original-title="Работаем в Кыргызстане"  style="box-shadow: 0 3px 5px rgba(0, 0, 0, .6);margin-left: 4%;"/>
            </div>
            <br /><br />
            <div class="panel-group" >
                Call-Центр позволяет вам существенно экономить на аренде офисных площадей, расходах на телефонные линии, зарплате. Вы ограждаете своих сотрудников от шквала некоммерческих телефонных звонков.
                Имея богатый опыт в данной области, мы можем освободить вас от рутинной и механической работы, и предлагаем следующее:
                <ul class="circled" style="margin-left: 4%;">
                    <li>Увеличение Вашей клиентской Базы и значительное увеличение продаж путем реализации программы «Поиск клиентов»;</li>
                    <li>Сопровождение директ-маркетинговых мероприятий;</li>
                    <li>Организацию «Горячей линии» - клиенты могут узнать телефоны, адреса, режим работы ваших филиалов по городу и по регионам, оформить заказ. Пожелания и жалобы ваших клиентов/потребителей будут зафиксированы и незамедлительно адресованы ответственным лицам. «Горячая линия» работает круглосуточно в выходные и праздничные дни. В результате работы «Горячей линии» Call-center  Компания-Заказчик также получает возможность попутного сбора маркетинговой информации о своих потенциальных и реальных клиентах. Возможен прием звонков по горячей линии на номера серии 8-800 070-ХХХХ как с городских телефонов, так и со всех сотовых сетей, работающих на территории Казахстана и России.</li>
                </ul>
                <br />
                Вы получаете в свое распоряжение следующее:
                <ul class="circled" style="margin-left: 4%;">
                    <li>Дополнительный многоканальный телефон с целым штатом высококвалифицированных операторов;</li>
                    <li>Круглосуточное обслуживание клиентов. 24 часа в сутки. Телефон всегда доступен, время ожидания ответа оператора минимально. Ни один звонок не останется без ответа;</li>
                    <li>Передача заявки в той форме, которая вам удобна (например, электронная заявка с последующей обработкой информации сотрудниками Вашей Компании);</li>
                    <li>Полная статистика по всем поступившим звонкам, позволяющая легко вести отчетность и планировать бюджет.</li>
                </ul>
            </div><br />
            <div style="margin-left: 2%;">
                <a href="/call-center/presentation/cc.pptx" target="_blank" data-rel="tooltip" data-placement="right" rel="tooltip" data-original-title="Нажмите на ссылку,что бы скачать полную презентацию КЦ. Установите Microsoft Office для открытия презентации.">Презентация КЦ</a>
            </div>

        </div>
    </div>

{% endblock %}