{% extends "layouts/app.twig" %}

{% block pageTitle %} Коллекторам {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Коллекторам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                SMS-Consult готова предложить свои услуги представителям коллекторских служб. В этой сфере СМС-рассылки позволяют отправлять должникам различные сообщения и уведомления.
                Наш сервис позволяет разделить всех должников на несколько групп, каждой из которых можно будет отправлять индивидуальные сообщения непосредственно на мобильные телефоны.
                <br /><br />
            <h3>Какие преимущества коллекторам дает СМС-рассылка:</h3>
            <ul class="circled">
                <li>Быстрота доставки сообщений должнику. При этом сообщение будет прочитано с вероятностью 95%;</li>
                <li>Должнику можно через СМС предоставить варианты решения спорной ситуации, общую сумму долга, крайние сроки внесения оплаты по долгу. В отличии от писем, такие сообщения нигде потеряться не могут.</li>
            </ul>
            <br />
            Практика показала, что СМС-рассылка является одним из самых эффективных методов взыскания с должника долгов.
            Стоит отдельно отметить тот факт, что наш сервис позволяет интегрировать систему рассылки СМС в учетную систему вашей службы.
            Оператору будет нужно только задать текст рассылки и выбрать время, а все остальное система сделает автоматически.
            Применения такого способа напоминания о долгах, в большинстве случаев, значительно ускоряет процесс возврата долга.
            Это связано с тем, что должник чаще всего просто забывает про долг или не знает, как выполнить платеж. В этом случае очень помогает СМС с подробной инструкцией по оплате.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}