{% extends "layouts/app.twig" %}

{% block pageTitle %} Для клиентов{% endblock %}


{% block content %}


    <div class="head-image option-3" style="background-image: url(../images/art/ptbg8.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Как начать работать с нами?</h1>
            </div>
        </div>
    </div>
    <div class="light-wrapper">
        <div class="container inner">


            <div class="row classic-blog">
                <div class="col-sm-8 content">

                    <h3>Перечень документов</h3><br />
                    <p>Начать работу с SMS-рассылками можно очень быстро, проделав несколько несложных шагов. </p><br />

                    <div class="panel-group" id="accordion">
                        <ul class="circled">
                            <li>Свяжитесь с нами по телефону <b>+7 (727) 356-76-56</b>, получите консультацию менеджера по всем вопросам, ответы на которые вы не смогли найти в описании услуги. </li><br />

                            <li><p>Подпишите с нами Договор о сотрудничестве на тот вид <a href="/service/" style="text-decoration: underline;color: #d2691e;">услуг</a>, который вас заинтересовал. Договор необходимо заполнить, распечатать, подписать со своей стороны и поставить печати, и отправить нам по почте или с курьером,
                                    2 экземпляра в оригинале, по адресу:<br />РК, г.Алматы, 050061, <br />пр.Райымбека 348 "А", офис 116. <br />ТОО "SMS-Consult" (СМС-Консалт).</p>
                                <ul class="circled" style="margin-left: 7%;">
                                    <li><a href="/docs/TOO.pdf" target="_blank" data-rel="tooltip" data-placement="right" rel="tooltip" data-original-title="Нажмите на ссылку, чтобы открыть договор для ТОО" style="text-decoration: underline;color: #d2691e;">договор ТОО</a></li>
                                    <li><a href="/docs/IP.pdf" target="_blank" data-rel="tooltip" data-placement="right" rel="tooltip" data-original-title="Нажмите на ссылку, чтобы открыть договор для ИП" style="text-decoration: underline;color: #d2691e;">договор ИП</a></li>
                                </ul>
                            </li><br />
                            <li>К договорам обязательно приложить копии следующих документов:<br />Для юридических лиц:<ul class="circled" style="margin-left: 7%;">
                                    <li>свидетельство о государственной регистрации юридического лица;</li>
                                    <li>свидетельство о постановке на учет по НДС (для плательщиков НДС).</li>
                                </ul>
                                <br />Для индивидуальных предпринимателей:<ul class="circled" style="margin-left: 7%;">
                                    <li>копию удостоверения личности;</li>
                                    <li>копию Свидетельства индивидуального предпринимателя;</li>
                                    <li>копию патента (если имеется);</li>
                                    <li>копию свидетельства о постановке на учет по НДС (для плательщиков НДС).</li>
                                </ul>
                            </li><br />
                        </ul>
                        <h4>Если у вас остались вопросы, вы можете задать их на странице <a href="/kontakty/" style="text-decoration:underline;">Контакты</a></h4>
                    </div>
                </div>
                <!-- /.col-sm-8 .content -->

                <!-- /.col-sm-4 .sidebar -->
            </div>
            <!-- /.row .classic-blog -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.light-wrapper -->


{% endblock %}