{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}


{% block content %}
    <div class="fullwidthbanner-container revolution">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade"> <img src="images/main-slide1.jpg" alt="" />
                    <div class="caption sfl" data-x="200" data-y="176" data-speed="500" data-start="500" data-easing="Sine.easeOut"><img src="images/art/slider-woman.png" alt="" /></div>
                    <div class="caption sfr" data-x="350" data-y="37" data-speed="700" data-start="1000" data-easing="Sine.easeOut"><img src="images/art/slider-bubbles.png" alt="" /></div>
                    <div class="caption fade" data-x="400" data-y="57" data-speed="0" data-start="2000" data-easing="Sine.easeOut"><img src="images/art/slider-bulb.jpg" alt="" /></div>
                    <div class="caption bold white-bg sfr" data-x="550" data-y="215" data-speed="500" data-start="2000" data-easing="Sine.easeOut">Как распространить новость?</div>
                    <div class="caption lite white-bg sfr" data-x="550" data-y="280" data-speed="500" data-start="2500" data-easing="Sine.easeOut">SMS-Consult поможет!</div>
                    <div class="caption sfr" data-x="550" data-y="340" data-speed="500" data-start="3000" data-easing="Sine.easeOut"><a href="/nachat-rabotat-s-nami/" class="btn btn-large">Начните сейчас</a></div>
                </li>
                <li data-transition="fade"> <img src="images/main-slide2.jpg" alt="" />
                    <div class="caption sfl" data-x="450" data-y="115" data-speed="900" data-start="500" data-easing="Sine.easeOut"><img src="images/art/slider-browser.png" alt="" /></div>
                    <div class="caption sfl" data-x="800" data-y="180" data-speed="900" data-start="900" data-easing="Sine.easeOut"><img src="images/art/slider-tablet.png" alt="" /></div>
                    <div class="caption sfl" data-x="980" data-y="290" data-speed="900" data-start="1600" data-easing="Sine.easeOut"><img src="images/art/slider-mobile.png" alt="" /></div>
                    <div class="caption bold white-bg sfr" data-x="35" data-y="180" data-speed="500" data-start="1500" data-easing="Sine.easeOut">Удобный WEB-кабинет</div>
                    <div class="caption sfr bold opacity-bg" data-x="35" data-y="240" data-speed="500" data-start="2000" data-easing="Sine.easeOut">чтобы вы могли создавать <br /></div>
                    <div class="caption sfr bold opacity-bg" data-x="35" data-y="300" data-speed="500" data-start="2000" data-easing="Sine.easeOut">рассылки самостоятельно</div>
                    <div class="caption bold white-bg sfr" data-x="35" data-y="360" data-speed="500" data-start="2000" data-easing="Sine.easeOut">в режиме online</div>
                    <div class="caption sfb" data-x="35" data-y="420" data-speed="500" data-start="2500" data-easing="Sine.easeOut"><a href="/uslugi/" class="btn btn-large">Подробней</a></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!-- /.fullwidthbanner -->
    </div>


    <div class="light-wrapper">
        <div class="container inner">
            <h3 class="section-title text-center">Мы <span>предлагаем</span></h3>
            <ul class="row-fluid process">
                <li class="col-sm-6 process-item border-right border-bottom"> <span class="number">01</span>
                    <div class="info">
                        <h4>SMS-Рассылки</h4>
                        <p>При заключении договора с нашей компанией мы предоставляем WEB-
                            интерфейс и показываем, как использовать базу данных.</p>
                        <!--<ul class="circled">
                          <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                        </ul> -->
                    </div>
                </li>
                <li class="col-sm-6 process-item border-bottom"> <span class="number">02</span>
                    <div class="info">
                        <h4>Возможность постоплаты</h4>
                        <p>Нужно сделать рассылку, но пока нет средств?<br /> Мы предоставляем вам возможность оплатить после рассылки в течение месяца.</p>
                        <!-- <ul class="circled">
                           <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                           <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                         </ul> -->
                    </div>
                </li>
                <li class="col-sm-6 process-item border-right"> <span class="number">03</span>
                    <div class="info">
                        <h4>Удобный интерфейс для рассылок</h4>
                        <p>Много абонентов, по которым нужно сделать рассылку? <br />WEB-интерфейс справится с любым количеством номеров.</p>
                        <!--<ul class="circled">
                          <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                        </ul>-->
                    </div>
                </li>
                <li class="col-sm-6 process-item"> <span class="number">04</span>
                    <div class="info">
                        <h4>Мгновенное решение проблем</h4>
                        <p>Возникли проблемы при рассылке SMS-сообщений? <br />Мы поможем мгновенно и качественно!</p>
                        <!--<ul class="circled">
                          <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                        </ul>-->
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
            <hr />
            <div class="dark-wrapper">
                <div class="container inner">
                    <h3 class="text-center section-title">Наши <span>партнеры</span></h3>
                    <div id="owl-clients">
                        <div class="item"><img src="images/art/c1.jpg" alt=""></div>
                        <div class="item"><img src="images/art/c2.jpg" alt=""></div>
                        <div class="item"><img src="images/art/c3.jpg" alt=""></div>
                        <div class="item"><img src="images/art/c4.jpg" alt=""></div>

                    </div>
                </div></div>
            <!-- /.owl-carousel -->
        </div>
    </div>
    <footer class="black-wrapper">
        <div class="container inner">
            <div class="row-foot" >
                <!-- /.widget -->
                <section class="col-sm-4 widget">
                    <h1 class="section-title widget-title">О Нас</h1>
                    <p>Компания «SMS-Consult» (СМС-Консалт) работает на рынке SMS-рассылок с 2009 года, является одним из ключевых партнеров операторов мобильной связи РК, удостоена почетного звания «Лидер отрасли 2014»<a href="/about/">  подробней...</a></p>
                </section>
                <!-- /.widget -->
                <section class="col-sm-4 widget">
                    <h1 class="section-title widget-title">Теги</h1>
                    <div class="tagcloud"> <a href="/service/" style="font-size: 9pt;">сервис</a>
                        <a href="/service/" style="font-size: 19pt;">подключить</a>
                        <a href="/service/" style="font-size: 9pt;">услуги</a>
                        <a href="/faq/" style="font-size: 9pt;">FAQ</a>
                        <a href="/service/" style="font-size: 10pt;">прайс-лист</a>
                        <a href="/service/" style="font-size: 9pt;">веб-кабинет</a>
                        <a href="/contact/" style="font-size: 12pt;">договор</a>
                        <a href="/call-center/" style="font-size: 9pt;">call-center</a>
                        <a href="/carer/" style="font-size: 5pt;">вакансии</a>
                        <a href="/about/" style="font-size: 13pt;">о нас</a>
                        <a href="/service/" style="font-size: 16pt;">рассылка</a>
                    </div>
                </section>
                <!-- /.widget -->
                <section class="col-sm-4 widget">
                    <h1 class="section-title widget-title">Контакты</h1>
                    <div class="divide10"></div>
                    <i class="icon-location contact"></i> 050061, РК,г.Алматы,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;проспект Райымбека 348 "А",<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; офис 116 <br />
                    <i class="icon-phone contact"></i>+7 (727) 356-76-56 <br />
                    <i class="icon-mail contact"></i> <a href="mailto:info@sms-consult.kz" data-rel="tooltip" data-placement="bottom" rel="tooltip" data-original-title="Написать нам">info@sms-consult.kz</a> </section>
                <!-- /.widget -->
            </div>
            <!-- /.row -->
        </div>
        <!-- .container -->

        <div class="sub-footer">
            <div class="container">
                <p class="pull-left">© 2009 - 2017 ТОО "<a href="/" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="SMS-Consult">SMS-Consult</a>". All rights reserved | <a href="/ip" style="text-align: center;font-size: 11px;">Узнать свой IP</a></p>
            </div>
        </div>
    </footer>
    <!-- /footer -->

{% endblock %}