{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}


{% block content %}
    <div class="fullwidthbanner-container revolution">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade"> <img src="images/main-slide1.jpg" alt="" />
                    <div class="caption sfl" data-x="200" data-y="176" data-speed="500" data-start="500" data-easing="Sine.easeOut"><img src="images/art/slider-woman.png" alt="" /></div>
                    <div class="caption sfr" data-x="350" data-y="37" data-speed="700" data-start="1000" data-easing="Sine.easeOut"><img src="images/art/slider-bubbles.png" alt="" /></div>
                    <div class="caption fade" data-x="400" data-y="57" data-speed="0" data-start="2000" data-easing="Sine.easeOut"><img src="images/art/slider-bulb.jpg" alt="" /></div>
                    <div class="caption bold white-bg sfr" data-x="550" data-y="215" data-speed="500" data-start="2000" data-easing="Sine.easeOut">Как распространить новость?</div>
                    <div class="caption lite white-bg sfr" data-x="550" data-y="280" data-speed="500" data-start="2500" data-easing="Sine.easeOut">SMS-Consult поможет!</div>
                    <div class="caption sfr" data-x="550" data-y="340" data-speed="500" data-start="3000" data-easing="Sine.easeOut"><a href="/nachat-rabotat-s-nami/" class="btn btn-large">Начните сейчас</a></div>
                </li>
                <li data-transition="fade"> <img src="images/main-slide2.jpg" alt="" />
                    <div class="caption sfl" data-x="450" data-y="115" data-speed="900" data-start="500" data-easing="Sine.easeOut"><img src="images/art/slider-browser.png" alt="" /></div>
                    <div class="caption sfl" data-x="800" data-y="180" data-speed="900" data-start="900" data-easing="Sine.easeOut"><img src="images/art/slider-tablet.png" alt="" /></div>
                    <div class="caption sfl" data-x="980" data-y="290" data-speed="900" data-start="1600" data-easing="Sine.easeOut"><img src="images/art/slider-mobile.png" alt="" /></div>
                    <div class="caption bold white-bg sfr" data-x="35" data-y="180" data-speed="500" data-start="1500" data-easing="Sine.easeOut">Удобный WEB-кабинет</div>
                    <div class="caption sfr bold opacity-bg" data-x="35" data-y="240" data-speed="500" data-start="2000" data-easing="Sine.easeOut">чтобы вы могли создавать <br /></div>
                    <div class="caption sfr bold opacity-bg" data-x="35" data-y="300" data-speed="500" data-start="2000" data-easing="Sine.easeOut">рассылки самостоятельно</div>
                    <div class="caption bold white-bg sfr" data-x="35" data-y="360" data-speed="500" data-start="2000" data-easing="Sine.easeOut">в режиме online</div>
                    <div class="caption sfb" data-x="35" data-y="420" data-speed="500" data-start="2500" data-easing="Sine.easeOut"><a href="/uslugi/" class="btn btn-large">Подробней</a></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!-- /.fullwidthbanner -->
    </div>


    <div class="light-wrapper">
        <div class="container inner">
            <h3 class="section-title text-center">Мы <span>предлагаем</span></h3>
            <ul class="row-fluid process">
                <li class="col-sm-6 process-item border-right border-bottom"> <span class="number">01</span>
                    <div class="info">
                        <h4>SMS-Рассылки</h4>
                        <p>При заключении договора с нашей компанией мы предоставляем WEB-
                            интерфейс и показываем, как использовать базу данных.</p>
                        <!--<ul class="circled">
                          <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                        </ul> -->
                    </div>
                </li>
                <li class="col-sm-6 process-item border-bottom"> <span class="number">02</span>
                    <div class="info">
                        <h4>Возможность постоплаты</h4>
                        <p>Нужно сделать рассылку, но пока нет средств?<br /> Мы предоставляем вам возможность оплатить после рассылки в течение месяца.</p>
                        <!-- <ul class="circled">
                           <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                           <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                         </ul> -->
                    </div>
                </li>
                <li class="col-sm-6 process-item border-right"> <span class="number">03</span>
                    <div class="info">
                        <h4>Удобный интерфейс для рассылок</h4>
                        <p>Много абонентов, по которым нужно сделать рассылку? <br />WEB-интерфейс справится с любым количеством номеров.</p>
                        <!--<ul class="circled">
                          <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                        </ul>-->
                    </div>
                </li>
                <li class="col-sm-6 process-item"> <span class="number">04</span>
                    <div class="info">
                        <h4>Мгновенное решение проблем</h4>
                        <p>Возникли проблемы при рассылке SMS-сообщений? <br />Мы поможем мгновенно и качественно!</p>
                        <!--<ul class="circled">
                          <li>Cras justo odio, dapibus ac facilisis  eget quam.</li>
                          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                        </ul>-->
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
            <hr class="mobile-hidden" />
            <div class="dark-wrapper">
                <div class="container inner">
                    <h3 class="text-center section-title">Наши <span>партнеры</span></h3>
                    <div id="owl-clients">
                        <div class="item"><img src="images/art/c1.jpg" alt=""></div>
                        <div class="item"><img src="images/art/c2.jpg" alt=""></div>
                        <div class="item"><img src="images/art/c3.jpg" alt=""></div>
                        <div class="item"><img src="images/art/c4.jpg" alt=""></div>

                    </div>
                </div></div>
            <!-- /.owl-carousel -->
        </div>
    </div>


{% endblock %}