{% extends "layouts/app.twig" %}

{% block pageTitle %} Информационным службам {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Информационным службам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                Для различных справочных и информационных служб наша компания подготовила ряд услуг, относящихся к СМС-рассылкам.
                Отличительной особенностью таких служб является тот факт, что они создаются отдельно для каждого города, обслуживая как коренных жителей города, так и гостей.
                Благодаря информационным СМС-рассылкам, пользователям станет намного удобнее получать интересующую информацию.
                К примеру, пользователю не придется нигде записывать полученную информацию. Она автоматически будет сохраняться в телефоне.
            <div style="padding-top: 5%;"></div>
            <h3>СМС-рассылки предоставляют информационным службам следующие преимущества:</h3>
            <ul class="circled">
                <li>Намного проще обрабатывать СМС-запросы и отправлять своевременные ответы. Благодаря этому телефонная линия разгрузится, а производительность работы возрастет;</li>
                <li>К любому ответному сообщению от информационной службы можно прикрепить рекламу, которая будет соответствовать тематике вопроса пользователя;</li>
                <li>Ответ справочной службы будет постоянно храниться в памяти его телефона, что избавит его от необходимости обращаться к вам повторно за той же информацией;</li>
                <li>С помощью СМС-сообщений служба может моментально оповестить большое количество людей о том, что произошли какие-то изменения в работе основных городских учреждений. К примеру, если человек отправлял несколько вопросов о расположении городской администрации, то ему автоматически придет уведомление, если график ее работы будет изменен. Пользователь обязательно высоко оценит такую заботу.</li>
            </ul>
            <br />
            Компания SMS-Consult готова предложить промышленным предприятиям широкий спектр услуг, относящихся к СМС-рассылкам. Стоит отметить, что такой способ рекламы является самым дешевым.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}