{% extends "layouts/app.twig" %}

{% block pageTitle %} Страховым компаниям {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Страховым компаниям</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                Существует множество различных способов применения СМС-рассылок страховыми компаниями.
                В большинстве случаев такие рассылки используются для уведомления клиента о том, что срок его страхового полиса в скором времени истекает.
                В сообщении, при этом, указывается дата истечения полиса и приглашение в офис компании для осуществления процедуры продления полиса.
                Такой подход поможет клиенту не попасть в сложную ситуацию при наступлении страхового случая. Это вызовет дополнительное доверие к вашей компании со стороны клиента.
                <br /><br />
                Если в компании появились новые услуги для клиентов, то СМС-рассылка позволит в кратчайшие сроки их об этом уведомить.
                Помимо этого, через такие рассылки можно отправлять поздравления с днем рождения, присылать новости компании и моментально уведомлять клиента о вынесении решения по его страховому случаю.
                Такой способ коммуникации с клиентами в разы сокращает число случаев просрочек платежей, увеличивает прибыль компании, и способствует росту престижа фирмы.
                <br /><br />
            <h3>Ниже приведем основные поводы, по которым страховая компания обычно присылает СМС своему клиенту:</h3>
            <ul class="circled">
                <li>Уведомление о том, что подходит срок очередного платежа;</li>
                <li>Уведомление об истечении и необходимости продления срока действия страховки;</li>
                <li>Уведомления о ходе процесса урегулирования страхового случая;</li>
                <li>Уведомление о том, какое было принято решение по выплате;</li>
                <li>Уведомление о том, что компания готова предложить клиенту новые услуги;</li>
                <li>Поздравление клиента с праздником и с днем рождения.</li>
            </ul>
            <br />
            В наше время для клиента очень важен индивидуальный подход и высокотехнологичный сервис. Компания SMS-Consult предоставляет своим клиентам максимально широкий спектр услуг, связанных с СМС-рассылками.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}