{% extends "layouts/app.twig" %}

{% block pageTitle %} Центрам досуга и развлечений {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Центрам досуга и развлечений</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                СМС-рассылки являются важной частью работы любого развлекательного центра.
                СМС-сообщения позволяют моментально уведомить постоянных клиентов о том, что в вашем центре в скором времени планируется какое-либо событие или мероприятие.
                <br /><br />
            <h3>СМС-сообщение от развлекательного центра может иметь следующие содержание:</h3>
            <br />
            <ul class="circled">
                <li>Анонс различных мероприятий;</li>
                <li>Уведомления о том, что ассортимент услуг был расширен;</li>
                <li>Обновление в меню;</li>
                <li>Уведомление о том, что в скором времени начнут действовать скидки, акции или специальные предложения;</li>
                <li>Сообщения о появлении новых филиалов;</li>
                <li>Поздравления клиентов с праздниками. В том числе и с днем рождения;</li>
                <li>Проведение различных розыгрышей или лотерей прямо по СМС;</li>
                <li>Можно организовать полноценную обратную связь, подключив короткий номер 7777, который будут помнить ваши клиенты в любое время и в любом месте. К номеру можно привязать книгу жалоб, обратную связь, и т.п.</li>
            </ul>
            <div style="padding-top: 5%;"></div>
            <h3>Ниже приведем примеры сообщений, которые может рассылать любой развлекательный центр:</h3>
            <br />
            <ul class="circled">
                <li>«Уникальная акция!!! Празднуя у нас свой день рождения, Вы получаете скидку 31% на все блюда из меню!»;</li>
                <li>«Здравствуйте Дмитрий! Примите наши поздравления с днем рождения и наилучшие пожелания!»;</li>
                <li>«Спешим сообщить, что сегодня ночью в нашем клубе для вас играют лучшие DJ’и Казахстана! При предъявлении денного СМС, в баре вам будет положена персональная скидка!»;</li>
                <li>«У вашей карты скоро истекает срок действия.»;</li>
                <li>«Номер нашего клуба изменился! Если у вас возникли вопросы, звоните по номеру +7 705 XXX XX XX»;</li>
            </ul>
            <div style="padding-top: 5%;"></div>
            <h3>Компания SMS-Consult имеет целый ряд неоспоримых преимуществ:</h3>
            <br />
            <ul class="circled">
                <li>Гарантированно профессиональный результат;</li>
                <li>Наши СМС-сообщения приходят на номера любых операторов связи, работающих на территории Казахстана;</li>
                <li>Гибкие цены, подходящие как крупным компаниям, так и небольшим организациям;</li>
                <li>Мы не взимаем ежемесячную абонентскую плату;</li>
                <li>Заказчик сможет работать с программой посредством удобного веб-интерфейса;</li>
                <li>Онлайн доступ к статистике и отчетам;</li>
                <li>У приобретенных СМС-сообщений нет срока использования;</li>
                <li>Вместо обычного номера телефона, у получателя может высвечиваться название вашей компании;</li>
                <li>На случай возникновения каких-либо вопросов имеется служба квалифицированной технической поддержки.</li>
            </ul>
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}