{% extends "layouts/app.twig" %}

{% block pageTitle %} Автосалоны {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Автосалонам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                СМС-рассылка помогает напомнить о себе многим автосервисам и автосалонам. Ведь все прекрасно понимают, что привлечь новую клиентуру намного сложнее, чем удержать имеющуюся.
                Устраивайте СМС-рассылку для своих клиентов по любому поводу. Правильное сообщение рассылки непременно улучшит продажи, и повысит престиж компании.
            <div style="padding-top: 5%;"></div>
            <h3>Приведем самые подходящие поводы написать клиентам автосалона или автосервиса:</h3>
            <ul class="circled">
                <li>Напоминание о необходимости посещения шиномонтажа;</li>
                <li>Напоминание о необходимости прохождения планового автосервиса;</li>
                <li>Сообщение о возможности тест-драйва новой модели авто;</li>
                <li>Акции и скидки;</li>
                <li>Пополнение ассортимента;</li>
                <li>Прибытие заказанных деталей;</li>
                <li>Сообщение о том, что обслуживание авто завершено;</li>
                <li>Поздравление с тем или иным праздником.</li>
            </ul>
            <br />
            Если компания присылает личные сообщения своим клиентам, то это говорит о том, насколько она их ценит и не скупится на индивидуальный подход.
            Наш сервис СМС-рассылок позволяет уведомлять клиентов компании обо всех важных событиях и держать их в курсе новостей компании.
            Стоит также отметить, что для оценки эффективности рассылки достаточно сравнить число получателей СМС-сообщение с количеством участников акции.
            Мы готовы предоставить руководству компании подробные отчеты. Помимо этого, наши специалисты могут подсказать, как повысить эффективность рассылок.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}