{% extends "layouts/app.twig" %}

{% block pageTitle %} Интернет-магазинам {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Интернет-магазинам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                С каждым годом интернет-маркетинг становится все популярнее. Торговля через интернет стала привычным и обыденным явлением. Данный вид торговли имеет свои особенности.
                Дело в том, что при торговле через интернет, продавец не контактирует напрямую с покупателем.
                Наша компания может выступить в качестве связующего звена между вами и вашими клиентами.
                Кроме того, для такого бизнеса очень пригодится СМС-рассылка и СМС-реклама.
            <div style="padding-top: 5%;"></div>
            <h3>SMS-Consult имеет ряд собственных разработок, которые способствуют взаимодействию продавца с покупателями:</h3>
            <ul class="circled">
                <li><b>СМС-рассылка</b><br />
                    Массовые СМС-рассылки отлично подходят для продвижения услуг или товаров. Самая большая эффективность здесь достигается в том случае, если сообщения отсылаются клиентам крупных торговых сетей или постоянным покупателям. Конечно, для этого нужно в первую очередь договориться с этими сетями о том, чтобы они предоставили свою базу клиентов. Кроме того, сами клиенты должны согласиться на получение рекламных СМС-сообщений. Для этого можно использовать анкеты, которые клиент должен заполнить при получении скидочной карты. Наши специалисты готовы проконсультировать вас по вопросам наработки клиентской базы для последующих СМС-рассылок. Помимо этого, мы можем проконсультировать Вас по вопросам, связанным с содержанием сообщений.
                    Сервис СМС-рассылок позволит вашим клиентам моментально узнать о том, что у Вас начали действовать скидки, распродажи или акции. Такой сервис можно интегрировать непосредственно в сайт, что позволит добиться оперативного управления СМС-рассылками.
                </li>
                <li><b>СМС-реклама</b><br />
                    Вы можете отправить своим клиентам видео с презентацией новой продукции при помощи ММС-сообщения. Этот шаг позволит вам выглядеть в глазах клиента солидной и современной организацией, которая думает о своих клиентах. Из этого следует, что СМС-рассылки являются самым удобным бизнес-решением.
                </li>
            </ul>
            <div style="padding-top: 5%;"></div>
            <h3>Ниже приведем основные поводы для интернет-магазина написать своему клиенту:</h3>
            <ul class="circled">
                <li>Если в магазин поступил новый товар;</li>
                <li>Если пришел товар, который был заказан конкретным пользователем;</li>
                <li>Если в магазине начали действовать скидки;</li>
                <li>Подтверждение получение оплаты и передачи заказа в службу доставки;</li>
                <li>Поздравление покупателя с каким-либо праздником;</li>
                <li>Проведение акций и лотерей посредством СМС;</li>
                <li>Предоставление информации о смене статуса заказа;</li>
                <li>Предоставление курьеру информации об адресе доставки товара;</li>
                <li>Регистрация пользователя на сайте и защита его персональной информации.</li>
            </ul>
            <div style="padding-top: 5%;"></div>
            <h3>Основные достоинства системы</h3>
            Можно очень долго перечислять все достоинства СМС-рассылок и СМС-рекламы.
            Такой сервис помогает оптимизировать работу магазина. Клиент может получить интересующую его информацию в любой момент.
            Стоит также отметить, что благодаря таким рассылкам достигается существенная экономия на содержании колл-центра, и имидж магазина от этого только выиграет.
            Наш сервис поможет многократно повысить эффективность Вашего бизнеса.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}