{% extends "layouts/app.twig" %}

{% set header_name = 'call_header' %}

{% block pageTitle %} Список услуг {% endblock %}


{% block content %}
    <div class="head-image option-3" style="background-image: url(/images/ptbg7.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Список услуг</h1>
            </div>
        </div>
    </div>
    <div class="light-wrapper">
        <div class="container inner">
            <h3 class="section-title text-center" id="cc-service">Заказать <span>услугу</span></h3>

            <div class="row classic-blog">
                <div class="col-sm-8 content">
                    <span><b>Нажмите</b>, чтобы посмотреть описание</span>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#One">1. Горячая линия</a>
                                </h4>
                            </div>
                            <div id="One" class="panel-collapse collapse">
                                <div class="panel-body">Предусматривает много различных вариантов обслуживания. Операторы-консультанты КЦ принимают звонки на многоканальный номер телефона согласно индивидуально составленному для Вашей компании сценарию. В ходе разговора Клиенты получают максимально подробную информацию о потребительских свойствах продукта, условиях проводимой рекламной акции или конкурса и т.д. При необходимости операторы могут регистрировать Клиентов, оформлять с их слов заказ, осуществлять продажу ваших товаров и услуг.<div class="divide10"></div>
                                    Отчеты об услуге "Горячая линия" Вы можете получать ежедневно или раз в месяц. В нем будет указываться время и продолжительность звонков, тематика обращений, а также регистрационные данные Заказчиков (если предусмотрена регистрация).
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Two">2. Виртуальный офис (Виртуальный секретарь)</a>
                                </h4>
                            </div>
                            <div id="Two" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Данная услуга поможет вашей компании иметь ваше представительство в любом городе при этом, не тратя средств на оборудования офиса и наем персонала. «Виртуальный офис» включает в себя:
                                    <ul class="circled" style="margin-left: 4%;">
                                        <li> выделение семизначного "виртуального" городского номера телефона или номера 8 800, на который поступают звонки от Ваших Клиентов и Партнеров;</li>
                                        <li>специалисты КЦ разрабатывают специальный сценарий телефонных разговоров, в который включена информация о Вашей компании, товарах, услугах, акциях и т.п.;</li>
                                        <li>операторы-консультанты Call center  принимают и распределяют поступающие звонки между Вашими сотрудниками или записывают информацию для последующей отправки на Ваш электронный адрес. Операторы ответят на все типовые вопросы, тем самым снимется нагрузка с квалифицированных специалистов Вашей компании.</li></ul>
                                    Помимо этого операторы Call-centеr могут получать и обрабатывать Ваши e-mail и сообщения. Благодаря этому Вы получаете круглосуточно функционирующий офис с минимальными затратами!
                                    <ul class="circled" style="margin-left: 4%;">
                                        <li><b>Виртуальный секретарь</b> - это сотрудник нашей компании, который ответит на звонки Ваших клиентов и партнеров в том случае, если сотрудники Вашей компании заняты или не могут ответить на звонок. Виртуальный секретарь предоставит всю необходимую информацию. При этом он не заменяет Ваших работников, а является поддержкой в затруднительных ситуациях. Наши сотрудники перед началом работы подробно изучают информацию о продукции и услугах, предоставляемых Вашей компанией. Затем составляется возможный сценарий разговора с Вашими клиентами, что позволит виртуальному секретарю дать компетентную информацию клиентам по всем вопросам.</li></ul></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Three"> 3. Резервный Call center</a>
                                </h4>
                            </div>
                            <div id="Three" class="panel-collapse collapse">
                                <div class="panel-body">В минуты пиковой нагрузки или при выходе из строя Вашего Call centra (обрыв линии, отключение электричества, пропадание доступа в Интернет и т.д.) вызовы, поступившие на Ваших операторов и не принятые в установленное время (например, в первые 20 секунд), переводятся на специалистов нашего Call centra, что позволяет вам не терять своих клиентов и их хорошего к вам расположения.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Four"> 4. Продажа продукта со входящего звонка</a>
                                </h4>
                            </div>
                            <div id="Four" class="panel-collapse collapse">
                                <div class="panel-body">Данная услуга основывается на принципе работы Горячей Линии, но в отличие от нее носит не только информативный характер, но и поддерживает все технологии активных продаж. Кардинальное отличие услуги от холодных звонков заключается в том, что абонент сам звонит по телефону горячей линии, чтобы получить качественную консультацию по товарам/услугам компании. То есть он уже заинтересован в том или ином продукте компании или является пользователем предоставляемых Вами услуг. Наши операторы:<ul class="circled" style="margin-left: 4%;">
                                        <li>посоветуют Вашему клиенту приобрести здесь и сейчас что-либо дополнительно к тому, что уже у него имеется или предложат комплексное решение.</li></ul></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Five"> 5. Поиск новых клиентов</a>
                                </h4>
                            </div>
                            <div id="Five" class="panel-collapse collapse">
                                <div class="panel-body">Включает в себя, подготовку презентации о Вашем товаре и услугах и представление её потенциальным клиентам. После прохождения обучения под Ваш продукт операторы Call centra совершают звонки от имени Вашей компании по заранее подготовленной базе данных. Услуга предполагает выход на лицо, принимающее решение, и проведение презентации (предоставление информации о компании, основных характеристиках Вашего продукта). Операторы ответят на все возникшие вопросы, отправят коммерческое предложение, в случае заинтересованности зафиксируют необходимую информацию для дальнейшей передачи в удобной для Вас форме. Необходимая информация о ходе выполнения проекта (количество совершенных звонков, их результативность, а также координаты заинтересованных Клиентов, ожидающих Вашего звонка, заявки на услуги и пр.) поступит к Вам в виде online или в оговоренные сроки предоставления отчетов.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Six"> 6. Актуализация базы данных</a>
                                </h4>
                            </div>
                            <div id="Six" class="panel-collapse collapse">
                                <div class="panel-body">Это прозвон, проверка и обновление данных в предоставленной вами базе данных. Операторы call centеr прозвонят предоставленную Вами базу данных и сделают при этом все необходимые исправления, добавления и исключения данных (наименование организаций, адрес, ФИО необходимых контактных лиц, их номера телефонов, e-mail и пр.). Мы соберем необходимую Вам информацию: ФИО генерального директора или маркетолога, количество компьютеров в компании и пр. В результате, все контакты вашей Базы данных будут актуальны, как и ваши услуги. Актуализация баз данных от нашей компании позволит Вашей организации всегда обладать новой, качественной и полезной информацией, позволяющей Вашей компании развиваться и завоевывать новые позиции на рынке.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Seven"> 7. Контроль качества</a>
                                </h4>
                            </div>
                            <div id="Seven" class="panel-collapse collapse">
                                <div class="panel-body">Данная услуга позволяет получить достоверную информацию о работе вашей компании, сотрудниках, качестве предоставленных вами услуг или товаров по средствам обзвона предоставленной вами базы данных ваших клиентов. Операторы будут систематически обзванивать предложенные контакты на предмет выявления удовлетворенности и пожеланий Ваших клиентов, выявления слабых мест в процессе обслуживания. Все собранные данные мы передадим Вам в виде отчетов, которые помогут сформировать объективную картину отношения клиентов к Вашей компании.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Eight"> 8. Телефонное информирование</a>
                                </h4>
                            </div>
                            <div id="Eight" class="panel-collapse collapse">
                                <div class="panel-body">Это первичное информирование ваших клиентов о любых событиях. Это может быть массовый обзвон имеющихся или потенциальных клиентов вашей компании об акция, скидках, открытия новых торговых точек, изменения ваших контактных данных и т.д. Возможны Поздравления с праздниками, когда Партнеров и Клиентов Вашей компании по предоставленной Вами базе данных поздравляют в режиме телефонного звонка от имени Вашей компании или Руководства. Сотрудники Call center обзвонят ваших клиентов или партнёров, поздравят с праздниками, расскажут актуальные новости, напомнят о существующих обязательствах современной оплаты и т.д. Или Оповещение должников о возникновении задолженности, сумме и сроках её погашения. В ходе оповещения об имеющейся задолженности оператор Call centra может, как вариант, выяснить причины возникшего долга и предоставить детальный отчет по каждому клиенту и полученных от него сведениях. Наш Call center предлагает на Ваш выбор четыре возможных варианта выполнения такой услуги:<ul class="circled" style="margin-left: 4%;">
                                        <li>автоматический обзвон (IVR);</li>
                                        <li>обзвон должников операторами Call center;</li>
                                        <li>отправка sms-уведомлений;</li>
                                        <li>рассылку электронных писем,
                                            А так же любые сочетая этих вариантов.</li></ul>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Nine"> 9. Маркетинговое исследование</a>
                                </h4>
                            </div>
                            <div id="Nine" class="panel-collapse collapse">
                                <div class="panel-body">Данная услуга открывает много возможностей. Во-первых, это отличный способ быстро собрать информацию о конкурентоспособности товара и услуг, предоставляемых компанией. Во-вторых, можно получить данные о соотношении спроса и предложения. В-третьих, проведение опросов позволяет выяснить позицию покупателей относительно товара. И наконец, телефонные опросы – это возможность продвижения товаров и услуг. Для наиболее успешного развития бизнеса телефонные опросы совмещают с телефонными продажами. Вы предоставляете нам необходимую анкету для опроса и даете описание аудитории для подбора базы данных или предоставляете свою базу. В установленные сроки мы проводим телефонный маркетинг и собираем необходимую Вам информацию. Отчет по опросу мы можем предоставить: в виде заполненных анкет, в виде базы данных с ответами и комментариями респондентов.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Ten"> 10. Аренда операторов</a>
                                </h4>
                            </div>
                            <div id="Ten" class="panel-collapse collapse">
                                <div class="panel-body">это привлечение компанией внештатного специалиста (операторов КЦ),имеющего соответствующие знания, профессиональные навыки и опыт на время выполнения определённого проекта или на постоянной основе с целью экономии временных и денежных ресурсов.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Eleven"> 11. Аренда рабочих мест для операторов</a>
                                </h4>
                            </div>
                            <div id="Eleven" class="panel-collapse collapse">
                                <div class="panel-body"><p>Данная услуга поможет вам, собственными силами реализовать краткосрочный проект  по массовому обзвону (опросы, приглашения и т.д. ) без необходимого  оборудования рабочего места. На территории КЦ выделяются оборудованные рабочие места с выходом в Интернет, автоматической системой набора номера и специальным программным обеспечением Арендованные рабочие места обеспечиваются постоянной технической поддержкой.</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Twelve"> 12. IVR автоматическая обработка вызовов</a>
                                </h4>
                            </div>
                            <div id="Twelve" class="panel-collapse collapse">
                                <div class="panel-body"><p>IVR (Система Интерактивного Голосового Ответа) -используется при входящих звонках для быстрого обслуживания клиентов со стандартными запросами. Информация транслируется звонящим в виде проигрываемого сообщения и предлагается вариант автоматических действий: «нажмите 1, …», «введите номер вашего счета» и тому подобное. Вплоть до полного выполнения заказа или соединения для этого с нужным и наиболее подготовленным сотрудником.</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#Thirteen"> 13. Диспетчерская служба</a>
                                </h4>
                            </div>
                            <div id="Thirteen" class="panel-collapse collapse">
                                <div class="panel-body"><p>Организация приема и обработки входящих звонков, а также организация исходящих вызовов согласно целям и задачам проекта. Диспетчерская служба постоянно проводит круглосуточную обработку запросов клиентов без перерыва на выходные и праздничные дни.</p></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <hr class="arrow"/>
            <a href="brif.html" style="margin-left: 40%;"><input type="button" value="Подать предварительную заявку" data-rel="tooltip" data-placement="right" rel="tooltip" data-original-title="Выберите услугу и нажмите на кнопку что бы заполнить форму заявки." class="btn btn-submit bm0" /></a>
        </div>
    </div>

{% endblock %}