{% extends "layouts/app.twig" %}

{% block pageTitle %} Охранным агентствам {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Охранным агентствам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                Любое охранное агентство в первую очередь выполняет задачи по охране различных объектов. В наше время в данной сфере все активнее применяются информационные технологии.
                Если охранное агентство в своей деятельности использует СМС-сообщения, это указывает на его современность и положительно сказывается на отношении клиентов и партнеров.
                В качестве самого простого примера можно привести регулярную отправку сообщений заказчику с описанием ситуации на охраняемом объекте.
            <div style="padding-top: 5%;"></div>
            <h3>Ниже приведем примеры более интересного применения СМС-сообщений в охранной деятельности:</h3>
            <ul class="circled">
                <li>Активация и деактивация охранной системы посредством СМС. Если в охраняемом помещении кто-то есть, то система должна находится в деактивированном состоянии. Совсем недавно управление такими системами осуществлялось через специальный пульт, где надо вводить уникальный код.
                    Мы предлагаем сервис управления охранными системами через СМС;</li>
                <li>СМС-сообщение для вызова охраны. Бывают случаи, когда позвонить охране невозможно. Мы можем организовать все таким образом, чтобы можно было послать тревожный сигнал охране в виде СМС-сообщения;</li>
                <li>СМС-сообщение для блокировки дверей. При большинстве ограблений, воры скрываются задолго до прибытия охраны и правоохранительных органов. СМС-блокировка дверей позволяет заблокировать злоумышленников в помещении.</li>
            </ul>
            <div style="padding-top: 5%;"></div>
            <h3>Случаи, когда охранным агентствам удобно использовать смс-рассылку:</h3>
            <ul class="circled">
                <li>Если подходит срок очередной выплаты по договору за предоставление услуг;</li>
                <li>Срабатывание сигнализации на объекте;</li>
                <li>Возникновение каких-либо неполадок в системе;</li>
            </ul>
            <div style="padding-top: 5%;"></div>
            <h3>Кроме того, будет нелишним уведомлять клиентов по СМС о следующих событиях:</h3>
            <ul class="circled">
                <li>Появление в городе или регионе нового филиала;</li>
                <li>Проведение мероприятий различно рода;</li>
                <li>Отправка клиентам поздравлений с новым годом и другими праздниками;</li>
                <li>Появление скидок и проведение всяческих акций.</li>
            </ul>
            <br />
            Наша фирма готова взять на себя все вопросы, связанные с СМС-рассылками. Кроме того, мы поможем внедрить СМС-сервисы в систему безопасности.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}