{% extends "layouts/app.twig" %}

{% block pageTitle %} Услуги{% endblock %}


{% block content %}


<div class="head-image option-3" style="background-image: url(../images/art/ptbg5.jpg);">
    <div class="overlay light">
        <div class="container">
            <h1 class="page-title">Наши сервисы</h1>
        </div>
    </div>
</div>
<div class="dark-wrapper">
    <div class="container inner">
        <div class="tabs services tab-container">
            <div class="panel-container">
                <div class="tab-block" id="tab-1">
                    <h2 class="slab"><span class="colored">WEB </span> Кабинет</h2>
                    <p class="lead">Мы разработали удобный веб-кабинет, чтобы вы могли создавать рассылки on-line в любое удобное время.
                        Вы можете отправлять как одиночные сообщения, так и делать массовые рассылки, для этого необходимо загрузить список телефонов и сформировать текст сообщения.
                        Мы проводим обучение ваших сотрудников пользованию веб-кабинетом.</p>
                </div>
                <!-- /.tab-block -->
                <div class="tab-block" id="tab-2">
                    <h2 class="slab">Автоматизированная <span class="colored">отправка</span></h2>
                    <p class="lead">Вы можете интегрировать возможность отправки смс-сообщений в собственную информационную систему. Наши специалисты помогут Вам с настройками.
                        Передача данных происходит путем отправки XML-пакетов по протоколу HTTPS методом POST.<br /><br /></p>
                </div>
                <!-- /.tab-block -->
                <div class="tab-block" id="tab-3">
                    <h2 class="slab"><span class="colored">Контроль</span> доставки</h2>
                    <p class="lead">Вы можете отслеживать статус ваших смс-рассылок в режиме реального времени, через веб-кабинет.<br /><br /><br /><br /></p>
                </div>
                <!-- /.tab-block -->
                <div class="tab-block" id="tab-4">
                    <h2 class="slab">Отложенная <span class="colored">отправка</span></h2>
                    <p class="lead">Наша система поддерживает функцию отложенной отправки сообщений, что позволяет планировать рассылки на любое удобное вам время.
                        Вы просто создаете рассылку и указываете желаемое время отправки. Дальше контролировать процесс отправки будет наша система.<br /><br /></p>
                </div>
                <!-- /.tab-block -->
            </div>
            <!-- /.panel-container -->
            <ul class="etabs row-fluid">
                <li class="tab col-sm-3"><a href="#tab-1">
                        <div class="icon"><i class="icon-login icn"></i></div>
                        <h4>WEB Кабинет</h4>
                    </a></li>
                <li class="tab col-sm-3"><a href="#tab-2">
                        <div class="icon"><i class="icon-mail icn"></i></div>
                        <h4>Автоматизированная отправка</h4>
                    </a></li>
                <li class="tab col-sm-3"><a href="#tab-3">
                        <div class="icon"><i class="icon-check icn"></i></div>
                        <h4>Контроль доставки</h4>
                    </a></li>
                <li class="tab col-sm-3"><a href="#tab-4">
                        <div class="icon"><i class="icon-back-in-time icn"></i></div>
                        <h4>Отложенная отправка</h4>
                    </a></li>
            </ul>
            <!-- /.etabs -->
        </div>
        <!-- /.tabs -->

    </div>
    <!-- /.container -->
</div>
<!-- /.dark-wrapper -->

<div class="light-wrapper">
    <div class="container inner">
        <p class="lead">Компания «SMS-Consult» является признанным экспертом на рынке sms–сервисов. Мы поможем эффективно организовать ваши бизнес-процессы с использованием sms. </p>
        <div class="divide30"></div>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-title">Услуги</h3>
                <div class="tabs tabs-top left tab-container">
                    <ul class="etabs">
                        <li class="tab"><a href="#tab-one">SMS Рассылка</a></li>
                        <li class="tab"><a href="#tab-two">Email Рассылка</a></li>
                        <li class="tab"><a href="#tab-three">OnMessenger</a></li>
                    </ul>
                    <!-- /.etabs -->
                    <div class="panel-container">
                        <div class="panel-group" id="tab-one"><br />
                            <p class="lead-t"><b><h5>SMS-рассылка позволяет:</h5></b></p><br />
                            <ul class="circled">
                                <li>анонсировать проводимые акции, распродажи, услуги;</li>
                                <li>стимулировать клиентов на покупку товаров и услуг;</li>
                                <li>информировать постоянных и новых клиентов о появлении у вас новых услуг, сервисов и товаров;</li>
                                <li>поздравлять клиентов, партнеров с днём рождения, любыми праздниками;</li>
                                <li>поощрять клиентов путем предоставления персональных скидок на день рождения, либо любой личный праздник.</li></ul><br />

                            <p class="lead-t"><b><h5>Возможности организации рассылок:</h5></b></p><br />
                            <ul class="circled">
                                <li>персонализация:<ul><li>именная рассылка (адресация к каждому абоненту по имени);</li><li>уникальный текст для каждого абонента (возможность использования шаблонов);</li></ul></li>
                                <li>программирование рассылок на любой срок;</li>
                                <li>периодические рассылки (например, автоматическое поздравление клиентов с днем рождения, напоминание об окончании страховки и т.д.);</li>
                                <li>обработка базы абонентов и приведение её к международному формату:<ul><li>удаление дубликатов, посторонних символов.</li></ul></li>
                                <li>адресные книги с широким выбором полей для организации базы абонентов;</li>
                                <li>отчеты и детализация по рассылкам в реальном времени;</li>
                                <li>экспорт данных (отчеты, адресные книги, детализация).</li>
                            </ul><br />


                            <p class="lead-t"><b><h5>Мы предлагаем:</h5></b></p><br />
                            <ul class="circled">
                                <li>покрытие – все операторы мобильной связи на территории Казахстана:<ul><li>GSM – Kcell/Activ, Beeline, Tele2, Altel;</li></ul></li>
                                <li>персональный заголовок вместо номера отправителя сообщения:<ul><li>рассылка сообщений абонентам осуществляется от буквенного имени, которое может соответствовать названию торговой организации, например Sberbank, ALA-Holding, GO-GO, BSB, Pyatnica и так далее.</li></ul></li>
                                <li>высокую пропускную способность каналов;</li>
                                <li>личный кабинет партнера (WEB-интерфейс, доступ посредством логина и пароля; бесплатно):<ul><li>несколько пользователей с разным уровнем приоритета (менеджер, оператор);</li></ul></li>
                                <li>широкие возможности разноуровневой интеграции с системой заказчика:<ul><li>CRM-системы, web-сайты, телекоммуникационное, телевизионное оборудование, банковские системы и т.д.;</li></ul></li>
                                <li>шифрование данных:<ul><li>организация защищенных соединений с динамическим шифрованием трафика между системами заказчика и исполнителя, предоставление сервиса с использованием протокола HTTPS, использование VPN-туннелей.</li></ul></li>
                                <li>гарантию конфиденциальности передаваемых и получаемых данных;</li>
                                <li>квалифицированную службу поддержки;</li>
                                <li>возможность постоплаты.</li>
                            </ul><br />

                            <p class="lead-t"><br /><b><h5>Прием SMS</h5></b></p>
                            <p>Существует отдельно тарифицируемый тип SMS, при котором сообщение отправляется на один из специальных четырехзначных номеров, и, обычно, содержит в себе данные, необходимые для получения услуги
                                (например, код услуги).
                                Сообщение оплачивается по специальному тарифу при отправлении (обычно существенно дороже стоимости стандартного SMS, так как в стоимость включена стоимость самой услуги).
                                После отправки и списания средств с лицевого счёта абонент, как правило, получает доступ к услуге, например, в виде SMS со ссылкой на WAP-страницу с мелодией, картинкой или игрой.
                                Также Premium – SMS используют для организации на их основе различного рода акций и викторин.</p><br /><br />

                            <b><h5>Мобильный маркетинг (реклама и уведомления по SMS)</h5></b>
                            <p>Сейчас особую популярность получает мобильный маркетинг.
                                Например, фирма хочет проинформировать своих клиентов о новинках, акциях или скидках, которые она предоставляет.
                                Идеальным каналом для такого взаимодействия становится SMS.</p>

                        </div>
                        <!-- /.tab-block -->
                        <div class="panel-group" id="tab-two">
                            <p class="lead-t"><br />

                                <b><h5>Что такое E-mail рассылки?</h5></b><br />
                                E-mail рассылки это доступная и понятная коммуникация. Ваши клиенты получают Ваши письма на почту, которую они вам предоставили. У вас есть возможность получить прозрачные и точные методы оценки эффективности при низкой стоимости контакта. А также возможность немедленной реакции для потребителя (переход по ссылке).
                                <br /><br /><p class="lead-t"><b><h5>Мы предлагаем полный набор услуг по проведению e-mail рассылок:</h5></b></p><br />
                            <ul class="circled">
                                <li>персонализация (любое количество и тип подставляемых в сообщение полей, при необходимости – легкая интеграция со сторонними IT-системами);</li>
                                <li>анализ задачи и предложение по смыслу, характеру и виду сообщения;</li>
                                <li>дизайн и верстка макета e-mail-письма;</li>
                                <li>рассылка практически любого объема сообщений;</li>
                                <li>сбор статистики, оценка результатов, предложения по улучшению эффективности;</li>
                                <li>корректировка e-mail-письма для более успешного прохождения сквозь спам-фильтры.</li></ul><br />

                            <b><h5>Информационные возможности (отчеты):</h5></b><br />
                            <ul class="circled">
                                <li>количество отправленных и доставленных сообщений;</li>
                                <li>количество прочитанных сообщений;</li>
                                <li>количество переходов по ссылкам из письма;</li>
                                <li>геоположение пользователей, прочитавших письма.</li>
                            </ul><br />

                            <b><h5>Наша система позволяет:</h5></b><br />
                            <ul class="circled">
                                <li>собирать и хранить информацию обо всех отправлениях конкретному адресату и об их результате;</li>
                                <li>отложить запуск рассылки на конкретные дату и время;</li>
                                <li>заполнять графы об отправителе и обратном адресе отправителя данными вашей компании;</li>
                                <li>протестировать отображение сообщения во всех основных почтовых клиентах;</li>
                                <li>провести персонифицированную е-mail рассылку, обратившись к пользователю по имени;</li>
                                <li>провести анализ эффективности (по отклику) двух разных шаблонов письма;</li></ul>
                            </p></div>
                        <!-- /.tab-block -->


                        <!-- Block Content Messenger service -->
                        <div class="panel-group" id="tab-three">
                            <p class="lead-t"><br />
                            <p>Предлагаем вам услугу «<b>OnMessenger</b>», предоставляющую возможность использования современного средства общения ваших клиентов – разнообразные мессенджеры типа <b>WhatsApp</b>, <b>Viber</b>, <b>iMessage</b> в качестве инструмента снижения расходов на оповещение ваших клиентов и партнеров.</p>
                            <p>Таргетированная база по городам и другим предпочтениям целевой аудитории.</p>
                            <br /><br />
                            <p class="lead-t"><b><h5>Возможности организации рассылок:</h5></b></p><br />
                            <ul class="circled">
                                <li>программирование рассылок на любой срок;</li>
                                <li>отчеты и детализация по рассылкам в реальном времени;</li>
                                <li>экспорт данных;</li>
                                <li>отчеты по рассылкам.</li>
                            </ul><br />

                            <b><h5>Мы предлагаем:</h5></b><br />
                            <ul class="circled">
                                <li>покрытие – все операторы мобильной связи на территории Казахстана (Kcell/Activ, Beeline, Tele2, Altel);</li>
                                <li>высокую пропускную способность каналов;</li>
                                <li>личный кабинет партнера (WEB-интерфейс, доступ посредством логина и пароля; бесплатно);</li>
                                <li>гарантию конфиденциальности передаваемых и получаемых данных;</li>
                                <li>квалифицированную службу поддержки;</li>
                                <li>возможность постоплаты;</li>
                                <li>рассылка как по вашим, так и по нашим базам абонентов Казахстана.</li>
                            </ul><br />
                            <p>Рассылки могут осуществляться как нами самостоятельно, так и с выделением личного веб-кабинета, чтобы вы могли создавать рассылки самостоятельно в режиме online в любое удобное для вас время. Преимущества рассылок на мессенджеры: возможность отправки длинного текста (до 5000 символов), картинки, vcard.</p><br />
                            <b><h5>Тип сообщения:</h5></b><br />
                            <ul class="circled">
                                <li>текст;</li>
                                <li>картинка;</li>
                                <li>картинка + текст.</li>
                            </ul>
                            </p></div>
                        <!-- /.tab-block -->
                    </div>
                    <!-- /.panel-container -->
                </div>
                <!-- /.tabs -->

            </div>
            <!-- /.col-sm-6 -->


            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
</div>
<!--<div class="dark-wrapper">
  <div class="container inner">
    <h3 class="text-center section-title">Партнеры <span>Нашей компании</span></h3>
    <div id="owl-clients">
      <div class="item"><img src="style/images/art/c1.jpg" alt=""></div>
      <div class="item"><img src="style/images/art/c2.jpg" alt=""></div>
      <div class="item"><img src="style/images/art/c3.jpg" alt=""></div>
      <div class="item"><img src="style/images/art/c4.jpg" alt=""></div>
      <div class="item"><img src="style/images/art/c5.jpg" alt=""></div>
      <div class="item"><img src="style/images/art/c6.jpg" alt=""></div>

    </div>
  </div>
</div>-->


{% endblock %}