{% extends "layouts/app.twig" %}

{% block pageTitle %} SMS-Опрос {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">SMS-Опрос</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <h3>Для чего необходимы SMS опросы</h3>
            <br />
            <p style="text-indent: 20px;">
                SMS-опросы являются незаменимым инструментом для анализа целевой аудитории, сбора информации, спроса потребителей.
                Но при всем функционале использование его в целях рекламной кампании неэффективно, он не способен инициировать продажи.
            </p>
            <br />
            <p style="text-indent: 20px;">
                Компания «SMS-Consult» предлагает СМС-шлюз для проведения анкетирования пользователей посредством SMS опросов на разнообразные тематики.
                Управление опросами возможно разными вариантами: рассылка пользователям опросов со своего кабинета, интеграция каким-либо сервисом анкетирования с применением API (в данном случае зависимо от целенаправленности проекта схемы могут отличаться).
            </p>
            <p style="text-indent: 20px;">
                Наиболее распространенная методика проведения опроса – ответы пользователей в цифрах.
                <br />
                <b>Пример:</b><br />
            <ul>
                <li><b>Вопрос:</b> Вас привлекает красный цвет?</li>
                <li><b>Ответ:</b> 1.Очень, 2.Возможно, 3.Несовсем</li>
            </ul>
            </p>
            <p style="text-indent: 20px;">
                Собранные ответы на вопросы хранятся в собственном кабинете. Здесь они могут быть экспортированы в любом формате, формируются отчеты по итогам опроса, проводится их анализ.
            </p>
            <p style="text-indent: 20px;">
                <b>Первым делом нужно разобраться, по каким причинам SMS-опросы сегодня настолько популярны?</b>
            <ul>
                <li>Подобные услуги помогают в развитии организациям, которые анализируют рынок. Пользователи благодаря СМС опросам получают возможность больше узнать о продукции, оказывать влияние на формирование рынка. Бизнес-интерес для продавца преподносится в формате, выгодно подчеркивающем достоинства продукции, самого предприятия, повышая лояльность потребителей.</li>
                <li>СМС опросы являются самым оперативным методом интервьюирования пользователей. Результат практически мгновенный, уже через сутки можно подбивать итоги маркетингового анализа.</li>
                <li>Именно опросы с помощью SMS, как вариант интерактивного общения сегодня считается самым доступным, потому что средства мобильной связи в наличии практически у каждого человека. С помощью сервиса компании «SMS-Consult» анкетирование любом населенном пункте станет значимым методом анализа рынка.</li>
            </ul>
            </p>
            <br /><br />
            <h3>Преимущества опросов посредством СМС</h3><br />
            <p style="text-indent: 20px;">
                Несколько достоинств СМС опроса были уже обозначены – это оперативность, результативность, повышение лояльности пользователей. Какими еще преимуществами отличается этот маркетинговый инструмент, к примеру, для развивающегося предпринимательства:
            <ul>
                <li>Возможность мгновенно модифицировать структуру рабочей деятельности, изменяя базовый вектор в направление основных интересов клиентов на данное время.</li>
                <li>Результативное обнаружение отрицательных, положительных направленностей в отношении вашей услуги, продукта, чтоб сориентироваться, куда продвигаться далее для расширения коммерческих возможностей.</li>
                <li>Затраты минимальные, по сравнению с прямым маркетингом их можно точно рассчитать. Такой способ sms рассылки предоставляет возможность каждый рубль вложить с умом.</li>
                <li>Нет привязки к определенному региону. Для удаленных продавцов, сервисов это достаточно значимый фактор. К примеру, организация, находящаяся в Москве, может свободно проводить sms исследование на Дальнем Востоке или Поволжском Крае.</li>
                <li>Потенциал использования современных программ для выполнения sms рассылки в том случае, когда опросы осуществляются с одного ПК и возможно применение импортируемой клиентской базы.</li>
            </ul>
            </p>
            <br /><br />
            <h3>При выполнении опроса с помощью СМС сообщения важно заинтересовать пользователя</h3><br />
            <p style="text-indent: 20px;">
                При проведении SMS анкетирования важно привлечь внимание пользователя. Опрос не должен быть навязчивым, рассылка должна производиться по предварительно подготовленной клиентской базе. Соблюдая эти правила, сервис SMS будет работать максимально эффективно, соответственно оправдывать инвестиции, давать толчок для дальнейшего развития предпринимательской деятельности. Создание базы клиентов рекомендуется осуществлять только при согласии каждого пользователя на рассылку сообщений. Для этого его стоит заинтересовать какими-либо привилегиями, бонусами, мгновенным информированием об акциях, распродажах продукции на выгодных условиях!
            </p>
            <br /><br />
            <h3>Сформируйте для пользователя максимально комфортные условия</h3><br />
            <p style="text-indent: 20px;">
                Стоит упростить для пользователя нужные действия, организовав опрос таким образом, чтобы клиенту не нужно было писать в сообщении длинные предложения. Самый идеальный вариант длины ответного сообщения – один символ. Применение удобных, просто запоминающихся номеров значительно повышает результативность СМС опроса. Очень важно, чтобы сообщение для пользователя имело небольшую стоимость, еще лучше, если оно будет бесплатным. При возникновении вопросов по оформлению, структуризации СМС опросов, обращайтесь к сотрудникам компании «SMS-Consult».
            </p>
            <br /><br />
            <h3>Принцип действия опроса посредством SMS сообщений</h3><br />
            <p style="text-indent: 20px;">
                Ранее уже оговаривалось, что самым простым, удобным вариантом для пользователя, обработки результатов считается анкетирование через смс. Ответы обязаны быть в виде односложных сообщений – один символ. Самая действенная методика проведения анкетирования, когда пользователю предлагается выбрать номер оптимального варианта ответа. Анкета бывает значительно расширенной, но для пользователя займет минимальное время для набора символов, ответа на сообщение.
            </p>
            <br /><br />
            <h3>Пример применения смс исследования</h3><br />
            <p style="text-indent: 20px;">
                Производитель организовал презентацию собственного продукта, предложив присутствующим за пользование пробником принять участие в СМС-анкетировании. Через неделю выполняется опрос по тематике качества продукта. В данном случае компания получает оптимальное сочетание тестирования характеристик и анализа спроса на продукцию, повышает степень лояльности потребителя.
            </p>
            <br /><br />
            <h3>Преимущества системы компании «SMS-Consult»</h3><br />
            <p style="text-indent: 20px;">
            <ul>
                <li>Не сложный механизм формирования анкетного опроса</li>
                <li>Максимально быстрое проведение СМС анализа</li>
                <li>Комфортные условия планирования проведения SMS маркетинга</li>
                <li>Возможность получения подробной отчетности</li>
                <li>Минимальные цены</li>
                <li>Варианты интеграции анкетирования с другими типами рассылок посредством СМС</li>
                <li>Удобство респондентам в случае ответов по длинным номерам</li>
            </ul>
            </p>
            <div style="margin-top: 15%;"></div>
        </div>
    </div>

{% endblock %}