{% extends "layouts/app.twig" %}

{% block pageTitle %} SMS-Викторина {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">SMS-Викторина</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <h3>Что необходимо, чтобы провести SMS-викторину</h3>
            <br />
            <p style="text-indent: 20px;">
                Что нужно для проведения SMS-викторины, какие она решает задачи для маркетинга компании?
                <br />
            <ul>
                <li>SMS-викторина по тематике бренда предоставляет возможность сделать анализ целевой аудитории.</li>
                <li>SMS-викторина по свободной тематике активизирует продажи, поднимает к бренду уровень лояльности, но в данной ситуации она не носит очевидный рекламный характер. Данная разновидность мобильного маркетинга не предоставляет возможность изучения целевой аудитории, но позволяет изучить потребительский спрос. Чтобы реализовать перечисленные активности, нужен короткий номер.</li>
            </ul>
            </p>
            <br /><br />
            <h3>Как это действует?</h3><br />
            <p style="text-indent: 20px;">
                Абонент передает на определенный номер SMS, чем подтверждает свое желание участвовать викторине. В обратных сообщениях ему направляются задания викторины, в которых нужно выбрать верный ответ. Выигравшие получают призы. Проведение викторин может осуществляться в реальности, к примеру, параллельно по телевизионной программе.
            </p>
            <br /><br />
            <h3>Для каких целей это необходимо?</h3><br />
            <h4 align="center">SMS-викторины дают возможность</h4>
            <ul>
                <li>Инициировать покупателей</li>
                <li>В реальности приобретать статистику продаж</li>
                <li>Привлекать потенциальных клиентов</li>
                <li>Повысить результативность рекламной кампании в СМИ</li>
            </ul>
            <br />
            <h4 align="center">SMS-викторины на примере АЗС</h4>
            <p style="text-indent: 20px;">
                Каждому автомобилисту, который заправил собственное транспортное средство топливом от 25 л предлагается сертификат для участия в призовом розыгрыше. Для регистрации ему нужно будет на определенный номер послать сообщение, в котором указать номер сертификата. SMS можно отправлять с номера любого оператора мобильной связи. Автолюбители, которые успели на протяжении месяца заправить свое авто более 100 литров, получают право участвовать в розыгрыше «суперприза».
            </p>
            <p><b>Цель:</b></p>
            <ul>
                <li>Повышение топливных продаж.</li>
                <li>Формирование клиентской базы для последующих коммуникаций посредством SMS.</li>
                <li>Поддержка имиджа организатора розыгрыша, как интенсивно развивающейся компании, которая применяет современные технологии.</li>
            </ul>
            <br />
            <p><b>Механика:</b></p>
            <ul>
                <li>Разыгрываются призы между автолюбителями, которые заправили топливом собственное ТС от 25 л.</li>
                <li>После заправки авто его владельцу предлагается пронумерованный сертификат на участие в акции. Чтобы зарегистрироваться, участник посылает на указанный номер СМС: собственное имя, № сертификата.</li>
                <li>На протяжении всего акционного периода участники отправляют на этот номер фактический объем заправки своего автомобиля.</li>
                <li>После каждого последующего подтверждения заправки участникам приходит сообщение с напоминанием оставшегося количества заправок, после которых он сможет стать участников розыгрыша супер-приза.</li>
                <li>После окончания акции участникам приходит SMS сообщение, в котором компания-организатор предлагает принимать ее сообщения. Для подтверждения согласия на прием таких SMS пользователь посылает на акционный номер сообщение - «1».</li>
            </ul>
            <p style="text-indent: 20px;">
                Это был пример организации рекламной кампании, реальные сценарии акций могут быть разнообразными. SMS-викторины способны проводить предприятия любых направлений деятельности. Занимаетесь вы продажей какой-либо продукции, оказываете какие-либо услуги, потенциальные клиенты будут иметь желание участвовать в акциях постоянно.
            </p>
            <br />
            <p style="text-indent: 20px;">
                Если есть трудности создать собственный сценарий подобной викторины, сотрудники компании «SMS-Consult» помогут вам разобраться. Консультации бесплатно!
            </p>
            <div style="margin-top: 15%;"></div>
        </div>
    </div>

{% endblock %}