{% extends "layouts/app.twig" %}

{% block pageTitle %} SMS-Платежи {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">SMS-Платежи</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <h3>Почему СМС платежи?</h3>
            <br />
            <p style="text-indent: 20px;">
                СМС-платежи сегодня не новость, каждый человек сталкивался с возможностью оплатить: онлайн-игры, участие в викторине, доступ к закрытым материалам какого-либо сайта в своем мобильном телефоне. Наиболее распространенные массовые сервисы, использующие смс-платежи, встречаются на радио и телевидении, где слушателям (зрителям) предлагают отправить код на короткий номер программы с обязательным уведомлением о стоимости такого сообщения.
            </p>
            <br />
            <p style="text-indent: 20px;">
                Компания «SMS-Consult», в течение 10 лет занимается организацией подобных сервисов, сегодня хотим представить вам общую механику данного сервиса, а также разобрать преимущества, недостатки.
            </p>
            <br /><br />
            <h3>Преимущества СМС платежей</h3><br />
            <p style="text-indent: 20px;">
                Чем данный вариант оплаты привлекателен?
                <ul>
                    <li><b>Комфортность выполнения платежа</b><br /><p style="text-indent: 20px;">Практически каждый современный человек имеет сотовый телефон, часто даже не один, а «парочку» с учетом применения достоинств нескольких сетей операторов. Это говорит о том, что таким вариантом платежей пользуется почти каждый. Для выполнения платежной операции необходимо приложить минимальное количество усилий: при помощи мобильного телефона набрать несколько символов, когда платеж осуществляется непосредственно из приложения, необходимо всего лишь несколько раз подтвердить платеж кнопкой «ОК», приложение автоматически отправит сообщение. </p><br /><p style="text-indent: 20px;">Конечно же, значительная часть суммы, которая списывается со счета пользователя, перечисляется оператору. Но данную разницу с «головой» перекрывает имеющаяся аудитория, даже когда продавцу перечисляется треть цены СМС. Необходимо располагать аудиторией крупнее в 3 р., чтоб получать аналогичные суммы, применяя прямые методы оплаты (без начислений).</p></li>
            <li><b>Удобная обработка платежей</b><br /><p style="text-indent: 20px;">Возможность полной автоматизации обработки смс платежей. А в случае автоматизированного предоставления продаваемой услуги появляется возможность полной автоматизации процесса в целом.</p></li>
            </ul>
            </p>
            <br /><br />
            <h3>Недостатки</h3><br />
            <p style="text-indent: 20px;">
                <ul>
                    <li><b>Минимальный процент</b><br /><p style="text-indent: 20px;">Достаточно большой процент цены СМС перечисляется оператору. Существуют еще посредники, в итоге продавцу достается максимум процентов 20 от стоимости сообщения.</p></li>
            <li><b>Фиксированная цена</b><br /><p style="text-indent: 20px;">Оператором устанавливается фиксированная цена, которая закрепляется за определенным номером, и в случае возникновения дополнительных расходов или внедрения другого сервиса, владельцам сервиса придется приобретать дополнительный номер.</p><br /><p style="text-indent: 20px;">Посредством платных SMS можно давать ответы на разные вопросы, выигрывать призы, голосовать за любимого исполнителя. Не менее популярными среди современной молодежи являются СМС чаты для общения. SMS услуги используются на разнообразных медийных площадках: начиная с телевизионных каналов, заканчивая web-сайтами.</p><br /><p style="text-indent: 20px;">Сегодня партнёрские программы тоже не упускают возможность воспользоваться подобным вариантом проведения платежей, так как это очень удобно. Благодаря определенным достоинствам, применению SMS платежей обладатели оригинального контента имеют возможность привлекать намного больше клиентов, соответственно получать больший доход.</p></li>
            </ul>
            </p>

            <div style="margin-top: 15%;"></div>
        </div>
    </div>

{% endblock %}