{% extends "layouts/app.twig" %}

{% block pageTitle %} Службам такси {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Службам такси</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                В последнее время службы такси стали все чаще использовать СМС-уведомления в своей работе. Таким способом, например, клиенты информируются о появлении свободной машины.
                В противном случае, диспетчер будет тратить большую часть своего времени лишь на дозвон до клиента и персональное его уведомление. Наша компания может полностью автоматизировать процесс рассылки СМС-сообщений.
                Помимо этого, Вы сможете рекламировать свою компанию посредством тех же СМС. Стоимость такого сервиса предельно мала, а клиенты будут всегда в курсе ваших акций и скидок.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}