{% extends "layouts/app.twig" %}

{% block pageTitle %} Торговым сетям {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Торговым сетям</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                Торговые сети также могут ощутить на себе все преимущества СМС-рассылок. Благодаря таким рассылкам, например, может происходить общение торговой сети с клиентами.
                <br /><br />
            <h3>Ниже будет приведено 6 основных идей о том, что торговая сеть может написать клиенту в СМС:</h3>
            <ul class="circled">
                <li>Приглашение на распродажи.<br />Если торговая сеть или отдельный магазин занимается реализацией сезонных товаров, таких как обувь, одежда, лыжный инвентарь и т.п. то ассортимент такого магазина меняется довольно часто.
                    А это требует проведения периодических распродаж старого товара. СМС-рассылка поможет моментально уведомить всех клиентов о старте распродажи.</li>
                <li>Уведомление об открытии нового магазина.<br />Если в вашей сети появился новый магазин, Вы сможете уведомить об этом своих клиентов. Можно сделать рассылку уведомлений только тем людям, которые проживают в определенном городе или районе. Кроме того, этим же способом можно рассылать уведомления об акциях и распродажах.
                    А также предоставить индивидуальную скидку.</li>
                <li>Уведомление о поступлении нового товара.<br />При помощи СМС-рассылки можно сообщить клиентам о том, что в магазин прибыла партия нового товара.</li>
                <li>Поздравление покупателей.<br />Праздники являются очень хорошим поводом для общения с покупателем. К примеру, можно устроить СМС-рассылку с поздравлениями С Новым Годом или любым другим праздником.
                    Помимо этого, по случаю праздника можно предложить покупателю скидки или подарки.</li>
                <li>Получение отзывов и предложений по СМС.<br />Очень редкий покупатель будет пользоваться книгой отзывов и предложений или звонить в отдел рекламаций. Однако, многие охотно наберут несложное СМС-сообщение и отправят его на специальный номер для обратной связи.</li>
            </ul>
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}