{% extends "layouts/app.twig" %}

{% block pageTitle %} Транспортным компаниям {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Транспортным компаниям</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                В наше время транспортные компании развиваются все более быстрыми темпами. Еще никогда прежде не были так востребованы перевозки различных грузов, посылок, документов и дальние пассажирские перевозки.
                При этом, любая декларация на груз содержит контактный номер получателя груза.
                <br /><br />
                SMS-Consult может обеспечить транспортную компанию автоматической системой, которая будет сообщать получателю о смене статуса заказа и о факте его прибытия в пункт назначения посредством СМС-сообщений.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}