{% extends "layouts/app.twig" %}

{% block pageTitle %} Туристическим агентствам {% endblock %}


{% block content %}

    <div class="head-image option-3" style="background-image: url(/images/art/ptbg1.jpg);">
        <div class="overlay light">
            <div class="container">
                <h1 class="page-title">Туристическим агентствам</h1>
            </div>
        </div>
    </div>
    <div class="dark-wrapper">
        <div class="container inner">
            <p>
                Для многих туристических компаний СМС-рассылки являются самым удобным способом рекламы и продвижения своих услуг.
                Такой способ отличается от прочих низкой стоимостью и значительной эффективностью.
                Одним из основных преимуществ рекламы посредством СМС-сообщений является мгновенный охват целевой аудитории.
            <div style="padding-top: 5%;"></div>
            <h3>Основные преимущества:</h3>
            <ul class="circled">
                <li>Максимально оперативное извещение клиентов о различных акциях и скидках;</li>
                <li>Доведение до клиента информации о том, что появились свободные номера и «горящие» путевки;</li>
                <li>Предоставление информации о статусе процесс получения визы;</li>
                <li>Сообщение клиенту времени и даты сбора в точке отбытия.</li>
            </ul>
            Кроме того, СМС-рассылки помогают донести до клиентов информацию о различных уникальных турах, акциях, скидках и т.п. Такой способ информирования клиентов является самым удобным для любой туристической компании.
            Такой подход создает впечатление индивидуального подхода к каждому клиенту и благотворно сказывается на имидже компании.
            <br /><br />
            Стоит отметить, что турфирмы используют рекламные рассылки обычно в тех случаях, если в визовом режиме или документах произошли какие-то изменения. Пропадает необходимость обзвона каждого клиента. СМС-сообщения придут всем в течение нескольких секунд.
            </p>
            <div style="padding-top: 5%;"></div>
            <h2>Как начать смс-рассылку</h2>
            <p>Ниже приведем список того, что потребуется сделать в первую очередь:</p>
            <ul class="circled">
                <li>Изучить <a href="#" style="border-bottom: 1px dashed #000080;">договор</a>, и согласившись с ним, <a href="#" style="border-bottom: 1px dashed #000080;">зарегистрироваться</a> в нашей системе ;</li>
                <li>Зарегистрировать <strong>Альфанумерическое</strong> имя (название Вашего бренда, которое будет отображаться на телефоне клиента вместо номера отправителя).</li>
            </ul>
            <p>Вы можете изучить подробно всю информацию, касающуюся <a href="#" style="border-bottom: 1px dashed #000080;">СМС-рассылок</a> в <a href="#" style="border-bottom: 1px dashed #000080;">руководстве пользователя</a>.</p>
            <div style="margin-top: 15%;"></div>
            <div style="margin-top: 15%;"></div>
        </div>

    </div>

{% endblock %}