<footer class="black-wrapper">
    <div class="container inner">
        <div class="row-foot" >
            <!-- /.widget -->
            <section class="col-sm-4 widget">
                <h1 class="section-title widget-title">О Нас</h1>
                <p>Компания «SMS-Consult» (СМС-Консалт) работает на рынке SMS-рассылок с 2009 года, является одним из ключевых партнеров операторов мобильной связи РК, удостоена почетного звания «Лидер отрасли 2014»<a href="/about/">  подробней...</a></p>
            </section>
            <!-- /.widget -->
            <section class="col-sm-4 widget">
                <h1 class="section-title widget-title">Теги</h1>
                <div class="tagcloud"> <a href="/service/" style="font-size: 9pt;">сервис</a>
                    <a href="/service/" style="font-size: 19pt;">подключить</a>
                    <a href="/service/" style="font-size: 9pt;">услуги</a>
                    <a href="/faq/" style="font-size: 9pt;">FAQ</a>
                    <a href="/service/" style="font-size: 10pt;">прайс-лист</a>
                    <a href="/service/" style="font-size: 9pt;">веб-кабинет</a>
                    <a href="/contact/" style="font-size: 12pt;">договор</a>
                    <a href="/call-center/" style="font-size: 9pt;">call-center</a>
                    <a href="/carer/" style="font-size: 5pt;">вакансии</a>
                    <a href="/about/" style="font-size: 13pt;">о нас</a>
                    <a href="/service/" style="font-size: 16pt;">рассылка</a>
                </div>
            </section>
            <!-- /.widget -->
            <section class="col-sm-4 widget">
                <h1 class="section-title widget-title">Контакты</h1>
                <div class="divide10"></div>
                <i class="icon-location contact"></i> 050061, РК,г.Алматы,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;проспект Райымбека 348 "А",<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; офис 116 <br />
                <i class="icon-phone contact"></i>+7 (727) 356-76-56 <br />
                <i class="icon-mail contact"></i> <a href="mailto:info@sms-consult.kz" data-rel="tooltip" data-placement="bottom" rel="tooltip" data-original-title="Написать нам">info@sms-consult.kz</a> </section>
            <!-- /.widget -->
        </div>
        <!-- /.row -->
    </div>
    <!-- .container -->

    <div class="sub-footer">
        <div class="container">
            <p class="pull-left">© 2009 - 2017 ТОО "<a href="/" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="SMS-Consult">SMS-Consult</a>". All rights reserved | <a href="/ip" style="text-align: center;font-size: 11px;">Узнать свой IP</a></p>
        </div>
    </div>
</footer>
<!-- /footer -->