<div class="header">
        <div class="container">
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class="icon-menu-1"></i></a>
            <div class="header-top">
                <a class="header-top__logo" href="#">
                    <img class="header-top__logo-img" src="images/logo.png" alt="SMS-Consult" title="SMS-Consult">
                </a>
                <ul class="header-top__info header-info">
                    <li class="header-info__item">
                        <a class="header-info__link" href="tel:+7 (727) 356-76-56">
                            <i class="icon-phone"></i> +7 (727) 356-76-56
                        </a>
                    </li>
                    <li class="header-info__item">
                        <a class="header-info__link" href="mailto:info@sms-consult.kz">
                            <i class="icon-mail"></i> info@sms-consult.kz
                        </a>
                    </li>
                    <li class="header-info__item">
                        <a class="header-info__link" href="http://cabinet.sms-consult.kz" target="_blank">
                            <i class="icon-login"></i>  web-кабинет
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__line">
            <div class="container">
                <div class="header-bottom">
                    <ul class="header-bottom__nav main-navigation">
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">Главная</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">О нас</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">sms-рассылки</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">мобильный маркетинг</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">sms-маркетинг</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">call-center</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">вопросы</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="#">контакты</a>
                        </li>
                    </ul>
                    <ul class="header-bottom__soc soc">
                        <li class="soc__item">
                            <a class="soc__link" href="https://vk.com/smsconsult" title="Мы в ВКонтакте" target="_blank">
                                <i class="icon-vkontakte"></i>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a class="soc__link" href="https://www.facebook.com/groups/103334856786988/" title="Мы в Facebook" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a class="soc__link" href="https://ok.ru/group/53516781617265" target="_blank" title="Мы в Одноклассниках">
                                <i class="icon-odnoklassniki"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>