<div class="header">
    <div class="header-fixed-line"></div>
        <div class="container">
            <div class="header-top">
                <a class="header-top__logo" href="/">
                    <img class="header-top__logo-img" src="images/art/logo.png" alt="SMS-Consult" title="SMS-Consult">
                </a>
                <ul class="header-top__info header-info">
                    <li class="header-info__item">
                        <a class="header-info__link" href="tel:+7 (727) 356-76-56">
                            <i class="icon-phone"></i> +7 (727) 356-76-56
                        </a>
                    </li>
                    <li class="header-info__item">
                        <a class="header-info__link" href="mailto:info@sms-consult.kz">
                            <i class="icon-mail"></i> info@sms-consult.kz
                        </a>
                    </li>
                    <li class="header-info__item">
                        <a class="header-info__link" href="http://cabinet.sms-consult.kz" target="_blank">
                            <i class="icon-login"></i>  web-кабинет
                        </a>
                    </li>
                </ul>
                <a class="js-open-menu header-top__hamburger btn" href="#">
                    <i class="icon-menu"></i>
                </a>
            </div>
        </div>
        <div class="js-menu header__navigation">
            <div class="container">
                <div class="header-bottom">
                    <ul class="header-bottom__nav main-navigation">
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="/">Главная</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="about_us.html">О нас</a>
                        </li>
                        <li class="main-navigation__item js-dropdown">
                            <span class="js-dropdown-toggle main-navigation__link">sms-рассылки</span>
                            <ul class="js-dropdown-menu main-navigation__dropdown menu-dropdown">
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="services.html">Услуги</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="for_clients.html">Клиентам</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="price_list.html">Прайс Лист</a>
                                </li>
                            </ul>
                        </li>
                        <li class="main-navigation__item js-dropdown">
                            <span class="js-dropdown-toggle main-navigation__link" >мобильный маркетинг</span>
                            <ul class="js-dropdown-menu main-navigation__dropdown menu-dropdown">
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="motor_shows.html">Автосалоны</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="banks.html">Банки</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="advertising_agencies.html">Рекламные и PR агенства</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="health_centers.html">Центры здоровья и красоты</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="collectors.html">Коллекторы</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="industrial_enterprises.html">Промышленные предприятия</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="information_services.html">Информационные службы</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="insurance_companies.html">Страховые компании</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="internet_service_providers.html">Интернет провайдеры</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="online_stores.html">Интернет магазины</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="leisure_and_entertainment.html">Досуг и развлечения</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="security_agencies.html">Охранные агенства</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="trading_networks.html">Торговые сети</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="taxi_services.html">Службы такси</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="transport_companies.html">Транспортные компании</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="travel_agencies.html">Туристические агенства</a>
                                </li>
                            </ul>
                        </li>
                        <li class="main-navigation__item js-dropdown">
                            <span class="js-dropdown-toggle main-navigation__link" >sms-маркетинг</span>
                            <ul class="js-dropdown-menu main-navigation__dropdown menu-dropdown">
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="sms_quiz.html">sms-викторина</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="sms_survey.html">sms-опрос</a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="sms_payments.html">sms-платежи </a>
                                </li>
                                <li class="menu-dropdown__item">
                                    <a class="menu-dropdown__link" href="sms_voting.html">sms-голосование </a>
                                </li>
                            </ul>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="call_center.html">call-center</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="faq.html">вопросы</a>
                        </li>
                        <li class="main-navigation__item">
                            <a class="main-navigation__link" href="contacts.html">контакты</a>
                        </li>
                    </ul>
                    <ul class="header-bottom__soc soc">
                        <li class="soc__item">
                            <a class="soc__link" href="https://vk.com/smsconsult" title="Мы в ВКонтакте" target="_blank">
                                <i class="icon-vkontakte"></i>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a class="soc__link" href="https://www.facebook.com/groups/103334856786988/" title="Мы в Facebook" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a class="soc__link" href="https://ok.ru/group/53516781617265" target="_blank" title="Мы в Одноклассниках">
                                <i class="icon-odnoklassniki"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
